.tool-header, .back_arrow, .tool_name, .filla_in_manilla {
   // border: 1px solid black;
}

.compare--container {
    max-width: $dimension-max-app-width;
    margin: 0 auto;
}

.tool-header {
    display: flex;
    align-items: center;
    margin-top: $spacing-medium;
}

.back_arrow {
    width: 50px;
    height: 50px;
    margin-left: 0.75rem;
    flex-shrink: 0;
}

.tool_name {
    width: 100%;
    text-align: center;
}

.back_arrow > path {
    fill: $color-font-black;
}

.filla_in_manilla {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
} 



.search_container {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium; 
    display: flex;
}

.search_container h3 {
    text-align: center;
}

#shipment1, #shipment2 { 
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shipments_data_container {
    margin-top: 1rem;
}

.data_heading {
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}

.shipment_data {
    display: flex;
    font-size: 0.9rem;
    text-align: center;
}

.shipment_1_data, .shipment_2_data {
    min-height: 30px;
    width: 0;
    background-color: white;
    flex-grow: 1;
    padding: 0.5rem;
}

.shipment_1_data {
    border-right: 1px solid grey;
}

.comparative_visualisation {
    height: 150px;
    width: 100%;
    background-color: white;
}

.trees_container, .price_container, .fuel_container {
    margin-top: $spacing-x-large;
}


.trees_container > .data, .price_container > .data, .fuel_container > .data {
    display: flex;
}


.shipment1, .shipment2 {
    height: 100px;
    width: 100%;
    background-color: white;
    border: 1px solid black;
}

.description {
    margin-top: $spacing-small;
    text-align: center;
}

.fuel_container {
    margin-bottom: $spacing-x-large;
}