.container--location-map {
  max-width: 100%;
  height: 250px;
  border: 1px solid rgb(187, 187, 187);
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin-top: $spacing-default;
}

// This is required for hte Leaflet map to function
#mapid { 
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


.autosuggestbox {
  position: absolute;
  background-color: white;
  border: 1px solid #d4d4d4;
  @include border-shadow-soft;
  
  & p {
    padding: $spacing-small;
    margin: 0;
    font-size: 0.8em;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
  }

  & p:hover, p:active {
    background-color: $color-secondary;
    //background-color: rgb(0, 81, 255);
    color: white;
  }

  &--active {
    background-color: $color-secondary;
    //background-color: rgb(0, 81, 255);
    color: white;
  }
}

// Remove the bottom margins on the these 2 inputs fields
.input-pick-up, .input-drop-off {
  margin-bottom: 0;
}