.shipment {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    width: 80%;
}

.shipment .title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background: lightblue;
}

.title a {
    color: blue;
    text-decoration: none;
}

.title a:visited {
    color: blue;
    text-decoration: none;
}

.heading, .data {
    display: inline;
}

.heading {
    font-weight: bold;
}