// All reusable button styles should go in this file

// The generic style for all buttons in the app
.button {  
  @include border-shadow-soft; // Use the mixin to create a soft shadow
  padding: $spacing-small $spacing-default;
  margin: $spacing-x-small;
  font-size: $font-default;
  border-radius: 4px;
  font-size: 1em;
  text-decoration: none;
  // When clicked, give the illusion of the button being 'pressed' by removing the shadow border
  &:active, :focus {
    box-shadow: none;
  }
}

  // The style that all attention-grabbing CTA buttons will take on
  .button--primary {
    @extend .button;
    background-color: $color-primary;
    color: white;
    border: 0;

    // Darken the button on hover as a means of providing visual feedback
    &:hover, :active, :focus {
      background-color: darken($color-primary, 5%);
    }
  }

  // The style that all buttons of the secondary colour will take on
  .button--secondary {
    @extend .button;
    background-color: $color-secondary;
    color: white;
    border: 0;

    // Darken the button on hover as a means of providing visual feedback
    &:hover {
      background-color: lighten($color-secondary, 5%);
    }
  }

  // The rule that will style buttons like 'cancel', 'back', etc. These shouldn't out.
  .button--wrong {
    @extend .button;
    background-color: white;
    color: $color-font-black;
    border: 1px solid darken(white, 15%);

    // Darken the button on hover as a means of providing visual feedback
    &:hover {
      background-color: darken(white, 8%);
    }
  }
