.flash-error {
  background-color: red;
  color: white;
  font-size: 1.1em;
  padding: $spacing-small;
}

.flash-success {
  background-color: rgb(3, 148, 80);
  color: white;
  font-size: 1.1em;
  padding: $spacing-small;
}