.flash {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 3px;
  padding: $spacing-small;
  font-size: 0.9em;
  list-style: none;
  margin-bottom: $spacing-default;
}

  .flash--error {
    @extend .flash;
    color: rgb(219, 3, 3);
  }

  .flash--success {
    @extend .flash;
    color: rgb(3, 148, 80);
  }