.container--datapage-text{
  @extend .container;
  text-align: center;

  h3{
    
    color: #62626a;
    padding: 5px 0px 0px 0px
  }
  
}
.container--graph-icon{
  @extend .container;
  text-align: center;

  img{
    width: 30%; 
    height: 30%; 
    object-fit: contain;
  }
}

.container--datascreen-nav-buttons{
  @extend .container;
  text-align: center;
  
  
}
.container--datascreen-d3charts{
  @extend .container;
  text-align: center;
  h3{
    color: #62626a;
    padding: 5px 0px 5px 0px
  }
  p{
    padding: 25px 0px 0px 0px
  }
}