// This will contain styling rules for modules in the upload screen

  .module--file-upload-intro {
    
    // Try stretch as much as possible, until it reaches the max-width limit
    width: 100%;
    max-width: 500px;

    & p {
      margin-bottom: $spacing-large;
    }  
  }

  // Hide the default input file button, as it is very difficult to stylise
  // Instead, a label element will wrap the file input button and act
  // as the button itself
  .button--file-upload > input[type="file"] {
    display: none;
  }