/*
 * The main stylesheet. This stylesheet should ideally only collate 
 * all stylesheets and have no CSS code of it's own
 */
/*
 * This file will store ALL variables used in the app
 */
/*
 * Colours
 */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #9e00fa;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.navbar {
  width: 100%;
  height: 50px;
  align-items: stretch;
  display: flex;
  justify-content: flex-end;
}

.navbar--link a {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  padding: 0 24px;
}
.navbar--link a:hover {
  background-color: #9100e6;
}

/*
 * The footer and all elements inside it will be styled in this sheet
 *
 */
.footer {
  padding: 16px;
  width: 100%;
  text-align: right;
  border-top: 1px solid #cccccc;
  background-color: #f7fafc;
  box-shadow: 0 -2px 6px -1px rgba(0, 0, 0, 0.1), 0 0px 4px -1px rgba(0, 0, 0, 0.06);
}

.button, .button--wrong, .button--secondary, .button--primary {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 8px 16px;
  font-size: 1em;
  border-radius: 8px;
  font-size: 1.25em;
}
.button:active, .button--wrong:active, .button--secondary:active, .button--primary:active {
  box-shadow: none;
}

.button--primary {
  background-color: #9e00fa;
  color: white;
  border: 0;
}
.button--primary:hover {
  background-color: #7e00c7;
}

.button--secondary {
  background-color: #21d47b;
  color: white;
  border: 0;
}
.button--secondary:hover {
  background-color: #1aa861;
}

.button--wrong {
  background-color: white;
  color: #3a3a42;
  border: 1px solid #d9d9d9;
}
.button--wrong:hover {
  background-color: #ebebeb;
}

.button--start {
  width: 250px;
  max-width: 250px;
}

/* 
 * A media card is a generic container where it's made up of 1 part image, 1 part text. In this case,
 * the media cards are styled to look like so:
 *   _____
 *  |IMAGE|
 *  |_____|
 *  |TEXT |
 *  |_____|
 */
.media-card {
  max-width: 30%;
  border-radius: 12px;
  padding: 16px;
}

.media-card--img {
  text-align: center;
}
.media-card--img img {
  max-width: 80%;
}

.media-card--text {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  font: 1rem "Open sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #3a3a42;
  background-color: #f7fafc;
}

h1, h2, h3, h4, h5, h6 {
  color: #3d3d42;
}

.app-container {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 980px;
}

/*
 *
 * TODO: CREATE NEW LAYOUT SCSS FILES AND MOVE ALL THE CODE INTO THE APPROPRIATE FILES.
 *
 */
.container, .container--ad-copy-text, .container--cta-buttons, .container--intro-text, .container--logo {
  max-width: 100%;
  padding: 24px;
}

.container--logo {
  text-align: center;
}
.container--logo img {
  vertical-align: middle;
}

.container--intro-text {
  text-align: center;
}
.container--intro-text h2 {
  margin: 0 auto;
  max-width: 680px;
  color: #62626a;
}

.container--cta-buttons {
  text-align: center;
}

.container--page-wide-image {
  max-width: 100%;
  overflow: hidden;
}
.container--page-wide-image img {
  display: block;
}

.container--below-fold {
  background-color: white;
}

.container--ad-copy-text {
  margin: 0 auto;
  max-width: 980px;
  padding: 64px 16px;
}
.container--ad-copy-text h1 {
  text-align: center;
}

.container--media-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.accent {
  background-color: #21d47b;
  width: 100%;
  height: 64px;
}

/*# sourceMappingURL=style.css.map */
