/*
 * The main stylesheet. This stylesheet should ideally only collate 
 * all stylesheets and have no CSS code of it's own
 */

@import '_abstracts/mixins.scss'; // Mixins
@import '_abstracts/variables.scss'; // Variables

// Import each layout-object related stylesheet
@import '_layout/header.scss';
@import '_layout/navbar.scss';
@import '_layout/footer.scss';

// Import all components
@import '_components/buttons.scss'; // Buttons
@import '_components/media-card.scss'; // Media cards

// TODO: Download reset.scss and normalise.scss files online and import it, to ensure the app looks the same on every browser



// Some basic resetting of styles below. Move to a reset.scss file later
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  font: 1rem "Open sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: $color-font-black;
  background-color: $color-background;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-font-black-header;
}

.app-container {
  margin: 0 auto; 
  margin-top: $header-height; // Since the header is fixed to the top, add empty space equal to the height of the header
  max-width: $dimension-max-app-width;
}


/*
 *
 * TODO: CREATE NEW LAYOUT SCSS FILES AND MOVE ALL THE CODE INTO THE APPROPRIATE FILES.
 *
 */

 
// The default rules for container type divs
.container {
  max-width: 100%;
  padding: $spacing-medium;
}

  // The div that contains the logo and 'powered by' image
  .container--logo {
    @extend .container;
    text-align: center;

    & img {
      vertical-align: middle; // Align the Freight People logo, so that the 'powered by' text is in the centre
    }
  }


  // The div that has the intro text on the Home screen
  .container--intro-text {
    @extend .container;
    text-align: center;

    h2 {
      margin: 0 auto;
      max-width: 680px;
      color: $color-font-black-header-soft; 
    }
  }

  
  // The div that contains both the CTA buttons on the home screen
  .container--cta-buttons {
    @extend .container;
    text-align: center;
  }

  .container--upload-data-text{
    @extend .container;
    text-align: center;

    h2{
      margin: 0 auto;
      max-width: 680px;
      color: #62626a;
    }
  }

  .container--upload-data-form{
    @extend .container;
    text-align: center;

    form{
      padding: 0px 180px 20px 0px;
    }

    h6{
      max-width: 680px;
      color: #62626a;
      padding: 5px 120px 0px 0px
    }
  }

  // Container used to wrap around images that span more than the entire width of the page.
  // In our case, the birds-eye shot of the trucks.
  .container--page-wide-image {
    max-width: 100%; // Make sure the container can't be large than the browsing window
    overflow: hidden; // Hide the overflowing parts of the image, so there's no horizontal scrollbar (awful for usability)

    img {
      display: block; // Used to get rid of the 4px of whitespace that would be there otherwise
    }
  }
  


  // The container that contains all content below the fold. Only used to colour the entire background white
  .container--below-fold {
    background-color: white;
  }

    // The container containing text to persuade the user to use our app, and how we can benefit them
    .container--ad-copy-text {
      @extend .container;
      margin: 0 auto; // Center the div horizontally
      max-width: $dimension-max-app-width;
      padding: $spacing-x-large $spacing-default; // Create a lot of empty space vertically, for emphasis
      
      & h1 {
        text-align: center;
      }
    }

    // The container that stores the 'media cards' - the bits of content where there's an image, and text just below it. 
    // This container is used to allow there to be multiple media cards in 1 row
    .container--media-cards {
      display: flex;
      justify-content: space-between;
      margin-top: $spacing-x-large; // Add space between the header and media cards
    }



// This is the empty space below the birds-eye image of the trucks. Used only for decoration.
.accent { 
  background-color: $color-secondary;
  width: 100%;
  height: $spacing-x-large;
}