* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font: 1rem "Open sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #34343b;
  background-color: #f5f5f7;
}

h1, h2, h3, h4, h5, h6 {
  color: #3d3d42;
}

a {
  color: #518ee9;
}

body {
  padding-top: 60px;
}

.container, .container--cta-buttons, .container--ad-copy-text, .container--intro-text, .container--logo, .container--datascreen-nav-buttons, .container--graph-icon, .container--weight-presets, .container--weight, .container--screen-nav-buttons {
  max-width: 100%;
  padding: 24px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.header--logo {
  color: #34343b;
  font-size: 1.5em;
  font-weight: 500;
}

.--fixed {
  position: fixed;
}

.navbar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
@media only screen and (min-width: 720px) {
  .navbar {
    position: unset;
    width: unset;
  }
}

.navbar__links {
  position: absolute;
  width: 100%;
  left: 0;
  top: 60px;
  flex-direction: column;
  height: auto;
  box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
  /** 
   * Include the breakpoint Mixin. Tablet and smaller CSS code goes between this code block
   * This part will have the code to display the navbar on hamburger menu click
   */
}
@media only screen and (min-width: 720px) {
  .navbar__links {
    /* The height, align-items: stretch and display flex is there to stretch the navigation 
     * links so that when the user hovers over a link, the background colour extends the height
     * of the navbar
     */
    position: static;
    flex-direction: row;
    box-shadow: none;
    width: 100%;
    height: 60px;
    align-items: stretch;
    display: flex;
    background-color: #ffffff;
  }
}

.navbar__link {
  background-color: white;
  width: 100%;
  list-style-type: none;
}
.navbar__link a {
  display: block;
  font-size: 1em;
  border-top: 1px solid #cccccc;
  padding: 8px;
  text-decoration: none;
  color: #34343b;
  white-space: nowrap;
}
.navbar__link a:hover {
  background-color: #f7f7f7;
  color: #206a5d;
  font-weight: 800;
}
@media only screen and (min-width: 720px) {
  .navbar__link a {
    border-bottom: 3px solid transparent;
    border-top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    color: #34343b;
    text-decoration: none;
  }
  .navbar__link a:hover {
    border-bottom: 3px solid #206a5d;
    font-weight: unset;
  }
}

.button-hamburger {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 0;
  padding: 12px;
}
@media only screen and (min-width: 720px) {
  .button-hamburger {
    display: none;
  }
}
.button-hamburger--line {
  display: block;
  background-color: #34343b;
  min-height: 3px;
  width: 100%;
  margin-bottom: 4px;
}
.button-hamburger--line.--toggled-on:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}
.button-hamburger--line.--toggled-on:nth-child(3) {
  transform: rotate(135deg);
  position: relative;
  top: -7px;
}
.button-hamburger--line.--toggled-on:nth-child(2) {
  background-color: transparent;
}

.user-account-links {
  height: 100%;
}

.mobile-only-user-button {
  height: 100%;
  width: 60px;
  border: 0;
  padding: 8px;
  background-color: transparent;
}
@media only screen and (min-width: 720px) {
  .mobile-only-user-button {
    display: none;
  }
}

.footer {
  background-color: #8ab914;
  height: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}
@media only screen and (min-width: 720px) {
  .footer {
    position: static;
    text-align: right;
    border-top: 1px solid #cccccc;
    box-shadow: 0 -2px 6px -1px rgba(0, 0, 0, 0.1), 0 0px 4px -1px rgba(0, 0, 0, 0.06);
    padding-right: 8px;
  }
}

.bottomnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.bottomnav .navButton {
  display: flex;
  width: 33%;
  background-color: transparent;
  border: 0;
  justify-content: center;
  align-items: center;
  font: 1rem "Open sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}
.bottomnav .navButton .navlink {
  color: #34343b;
  text-decoration: none;
}
@media only screen and (min-width: 720px) {
  .bottomnav {
    display: none;
  }
}

.row--module-container {
  display: flex;
  margin-bottom: 16px;
}
.row--module-container .module--container:not(:first-child) {
  margin-left: 16px;
}

.module--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e7e7ec;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.module--subtitle {
  margin-bottom: 24px;
  border-bottom: 1px solid #ebebeb;
}
.module--subtitle:not(:first-child) {
  margin-top: 32px;
}

.module--content {
  padding: 16px;
  padding-bottom: 24px;
}
.module--content p {
  margin-bottom: 16px;
}

.module--title {
  margin-bottom: 16px;
  font-size: 1.1em;
}

.module--bottom-buttons-container {
  background-color: #f1f1f1;
  padding: 8px;
  text-align: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: -1px 4px 6px 3px rgba(0, 0, 0, 0.03), 0 2px 12px 1px rgba(0, 0, 0, 0.01);
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
.dropdown-content .dropdown-option {
  height: 100%;
  padding: 0 16px;
  color: #34343b;
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 16px 32px;
  padding-right: 64px;
  border-top: 1px solid #e6e6e6;
}
.dropdown-content .dropdown-option:hover {
  background-color: whitesmoke;
  color: #206a5d;
}

.--show-content {
  display: block;
}

.button, .button--wrong, .button--secondary, .button--primary {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 8px 16px;
  margin: 4px;
  font-size: 1em;
  border-radius: 4px;
  font-size: 1em;
  text-decoration: none;
}
.button:active, .button--wrong:active, .button--secondary:active, .button--primary:active, .button :focus, .button--wrong :focus, .button--secondary :focus, .button--primary :focus {
  box-shadow: none;
}

.button--primary {
  background-color: #8ab914;
  color: white;
  border: 0;
}
.button--primary:hover, .button--primary :active, .button--primary :focus {
  background-color: #688b0f;
}

.button--secondary {
  background-color: #206a5d;
  color: white;
  border: 0;
}
.button--secondary:hover {
  background-color: #14433b;
}

.button--wrong {
  background-color: white;
  color: #34343b;
  border: 1px solid #d9d9d9;
}
.button--wrong:hover {
  background-color: #ebebeb;
}

.autosuggestbox {
  position: absolute;
  background-color: white;
  border: 1px solid #d4d4d4;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.autosuggestbox p {
  padding: 8px;
  margin: 0;
  font-size: 0.8em;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}
.autosuggestbox p:hover, .autosuggestbox p:active {
  background-color: #8ab914;
  color: white;
}
.autosuggestbox--active {
  background-color: #8ab914;
  color: white;
}

.flash--feedback {
  background-color: #e0e0e0;
  font-size: 1.1em;
  padding: 8px;
}

.flash--error {
  background-color: red;
  color: white;
  font-size: 1.1em;
  padding: 8px;
}

.flash--success {
  background-color: #039450;
  color: white;
  font-size: 1.1em;
  padding: 8px;
}

.module--user-intro {
  max-width: 600px;
}

.module--shipments {
  width: 100%;
  max-width: 1000px;
  height: 90%;
  overflow-y: scroll;
}

.container--location {
  display: flex;
}
@media only screen and (min-width: 720px) {
  .container--location {
    flex-direction: column;
    padding: 0 24px;
  }
}

.container--location-inputs {
  width: 50%;
  position: relative;
}
@media only screen and (min-width: 720px) {
  .container--location-inputs {
    width: 100%;
    margin-bottom: 16px;
    padding: 0;
  }
}
.container--location-inputs input, .container--location-inputs label {
  display: block;
}

.input--text {
  margin-top: 4px;
  padding: 8px;
  border: 0;
  width: 100%;
  max-width: 300px;
  border: 2px solid #dddddd;
  border-radius: 2px;
}
.input--text:focus {
  border: 2px solid #8ab914;
}
@media only screen and (min-width: 720px) {
  .input--text {
    max-width: 100%;
  }
}

.container--location-map {
  width: 50%;
  max-width: 50%;
  padding: 0 8px;
  text-align: right;
  height: 350px;
  max-height: 350px;
}
@media only screen and (min-width: 720px) {
  .container--location-map {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}

.container--screen-nav-buttons {
  text-align: right;
}
.container--screen-nav-buttons .button--primary {
  margin: 0 8px;
}
@media only screen and (min-width: 720px) {
  .container--screen-nav-buttons .button--primary {
    margin: 0;
    font-size: 1em;
  }
}

.container--weight {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 720px) {
  .container--weight {
    flex-direction: column;
    padding: 0 24px;
  }
}
.container--weight h2 {
  text-align: center;
}

.container--weight-inputs {
  width: 50%;
  padding: 0 8px;
}
@media only screen and (min-width: 720px) {
  .container--weight-inputs {
    width: 100%;
    margin-bottom: 16px;
    padding: 0;
  }
}
.container--weight-inputs input, .container--weight-inputs label {
  display: block;
}

.container--weight-presets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container--weight-presets .media-card {
  width: 30%;
}

.instruction-text {
  width: 100%;
}

.module--file-upload-intro {
  width: 100%;
  max-width: 500px;
}
.module--file-upload-intro p {
  margin-bottom: 32px;
}

.button--file-upload > input[type=file] {
  display: none;
}

.module--primary-data {
  width: 100%;
  max-width: 450px;
}

.module--generate-report {
  width: 100%;
}

.container--graph-icon {
  text-align: center;
}
.container--graph-icon img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}

.container--datascreen-nav-buttons {
  text-align: center;
}

.d3charts--container {
  text-align: center;
}

.container--logo {
  text-align: center;
}
.container--logo img {
  vertical-align: middle;
}
@media only screen and (min-width: 440px) {
  .container--logo {
    padding: 16px !important;
  }
  .container--logo h1 {
    font-size: 1.75em;
  }
  .container--logo img {
    max-width: 150px;
  }
  .container--logo .container--intro-text h2 {
    font-size: 1.25em;
  }
}

.container--intro-text {
  text-align: center;
}
.container--intro-text h2 {
  margin: 0 auto;
  max-width: 680px;
  color: #62626a;
}

.container--logo {
  margin-top: 60px;
}

.container--page-wide-image {
  max-width: 100%;
  overflow: hidden;
}
.container--page-wide-image img {
  display: block;
}
@media only screen and (min-width: 720px) {
  .container--page-wide-image img {
    height: 150px;
  }
}

.container--below-fold {
  background-color: white;
}

.container--ad-copy-text {
  margin: 0 auto;
  max-width: 980px;
  padding: 64px 16px;
}
.container--ad-copy-text h1 {
  text-align: center;
}
@media only screen and (min-width: 440px) {
  .container--ad-copy-text {
    padding: 64px 0;
  }
}

.container--media-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
@media only screen and (min-width: 440px) {
  .container--media-cards {
    flex-direction: column;
  }
}

.accent {
  background-color: #bfdcae;
  width: 100%;
  height: 64px;
}

.container--cta-buttons {
  text-align: center;
}
.container--cta-buttons .button--primary {
  display: inline-block;
  width: 250px;
  font-size: 1.25em;
}

.emission-total {
  font: bold;
  color: #6dc0d5;
  text-align: center;
  padding-bottom: 20px;
}

.container--playground {
  width: 80%;
  min-width: 500px;
  margin: 0 auto;
}

.col_1_of_2 {
  padding: 8px;
  display: flex;
  align-items: center;
}

.feedback, .feedback--error, .feedback--success {
  padding: 8px;
  border: 1px solid transparent;
  background-color: #ececec;
}
.feedback--success {
  background-color: green;
}
.feedback--success li, .feedback--success p {
  color: white;
}
.feedback--error {
  background-color: red;
}
.feedback--error li, .feedback--error p {
  color: white;
}

.color-pallette div {
  height: 80px;
  width: 400px;
}
.color-pallette :nth-child(2) {
  background-color: #8ab914;
}
.color-pallette :nth-child(1) {
  background-color: #206a5d;
}
.color-pallette :nth-child(3) {
  background-color: #bfdcae;
}
.color-pallette :nth-child(4) {
  background-color: #fff;
}

.media-box-thingy {
  background-color: #ffffff;
  margin: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid #cfcfcf;
}
.media-box-thingy .content {
  margin: 8px;
  flex-grow: 10;
}
.media-box-thingy h3 {
  color: #206a5d;
}

.button-part {
  background-color: #f5f5f7;
  padding: 8px;
}
.button-part button {
  float: right;
  background-color: #8ab914;
}

.--accent-primary-left {
  border-top: 3px solid #bfdcae;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.--hidden-on-mobile {
  display: none;
}
@media only screen and (min-width: 720px) {
  .--hidden-on-mobile {
    display: inherit;
  }
}

@media only screen and (min-width: 720px) {
  .--hidden-on-desktop {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
