* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

body {
  margin: 0 auto;
  height: 100vh;
  font: 1rem "Open sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #34343b;
  background-color: #f5f5f7;
}

input {
  font: 1rem "Open sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #3d3d42;
}

a {
  color: #518ee9;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.page-container {
  min-height: 100vh;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container, .container--shipments-page, .container--cta-buttons, .container--ad-copy-text, .container--intro-text, .container--logo, .container--text-content {
  max-width: 100%;
}
@media only screen and (min-width: 440px) {
  .container, .container--shipments-page, .container--cta-buttons, .container--ad-copy-text, .container--intro-text, .container--logo, .container--text-content {
    padding: 24px;
  }
}

.container--text-content {
  padding: 8px;
}
@media only screen and (min-width: 440px) {
  .container--text-content {
    padding: 16px;
  }
}

.--enforce-max-width {
  margin: 0 auto;
  max-width: 980px;
}

@media only screen and (min-width: 760px) {
  .--width-equal-to-content {
    width: max-content;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 1000;
}

.logo-container {
  max-width: 140px;
  height: 100%;
}
@media only screen and (min-width: 440px) {
  .logo-container {
    max-width: 160px;
  }
}
@media only screen and (min-width: 760px) {
  .logo-container {
    max-width: 180px;
  }
}
.logo-container a {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
}

.app-logo {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.--fixed {
  position: fixed;
}

.navbar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
@media only screen and (min-width: 760px) {
  .navbar {
    position: unset;
    width: unset;
  }
}

.navbar__links {
  position: absolute;
  width: 100%;
  left: 0;
  top: 60px;
  flex-direction: column;
  height: auto;
  box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
  /** 
   * Include the breakpoint Mixin. Tablet and smaller CSS code goes between this code block
   * This part will have the code to display the navbar on hamburger menu click
   */
}
@media only screen and (min-width: 760px) {
  .navbar__links {
    /* The height, align-items: stretch and display flex is there to stretch the navigation 
     * links so that when the user hovers over a link, the background colour extends the height
     * of the navbar
     */
    position: static;
    flex-direction: row;
    box-shadow: none;
    width: 100%;
    height: 60px;
    align-items: stretch;
    display: flex;
    background-color: #ffffff;
  }
}

.navbar__link {
  background-color: white;
  width: 100%;
  list-style-type: none;
}
.navbar__link a {
  display: block;
  font-size: 1em;
  border-top: 1px solid #cccccc;
  padding: 8px;
  text-decoration: none;
  color: #34343b;
  white-space: nowrap;
}
.navbar__link a:hover {
  background-color: #f7f7f7;
  color: #206a5d;
  font-weight: 800;
}
@media only screen and (min-width: 440px) {
  .navbar__link a {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 760px) {
  .navbar__link a {
    font-size: 1em;
    border-bottom: 3px solid transparent;
    border-top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    color: #34343b;
    text-decoration: none;
  }
  .navbar__link a:hover {
    border-bottom: 3px solid #206a5d;
    font-weight: unset;
  }
}

.navbar__link--username a {
  font-size: 0.9em;
}

.button-hamburger {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 0;
  padding: 12px;
}
@media only screen and (min-width: 760px) {
  .button-hamburger {
    display: none;
  }
}
.button-hamburger--line {
  display: block;
  background-color: #34343b;
  min-height: 3px;
  width: 100%;
  margin-bottom: 4px;
}
.button-hamburger--line.--toggled-on:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}
.button-hamburger--line.--toggled-on:nth-child(3) {
  transform: rotate(135deg);
  position: relative;
  top: -7px;
}
.button-hamburger--line.--toggled-on:nth-child(2) {
  background-color: transparent;
}

.user-account-links {
  height: 100%;
}

.mobile-only-user-button {
  height: 100%;
  width: 60px;
  border: 0;
  padding: 8px;
  background-color: transparent;
}
@media only screen and (min-width: 760px) {
  .mobile-only-user-button {
    display: none;
  }
}

.footer {
  background-color: #8ab914;
  height: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
@media only screen and (min-width: 760px) {
  .footer {
    height: unset;
    padding: 8px;
    text-align: right;
    border-top: 1px solid #cccccc;
    box-shadow: 0 -2px 6px -1px rgba(0, 0, 0, 0.1), 0 0px 4px -1px rgba(0, 0, 0, 0.06);
    padding-right: 8px;
  }
}

.bottomnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  box-shadow: -1px -4px 6px 3px rgba(0, 0, 0, 0.06), 0 -2px 12px 1px rgba(0, 0, 0, 0.02);
  align-content: center;
}
.bottomnav .navButton {
  width: 33%;
  border: 0;
  font: 1rem "Open sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: transparent;
}
.bottomnav .navButton .navlink {
  height: 100%;
  font-size: 1.1em;
  color: #ffffff;
  text-decoration: none;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomnav .navButton .navlink:hover {
  background-color: #98cb16;
}
@media only screen and (min-width: 760px) {
  .bottomnav {
    display: none;
  }
}

.credit a {
  color: #34343b;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: -1px 4px 6px 3px rgba(0, 0, 0, 0.03), 0 2px 12px 1px rgba(0, 0, 0, 0.01);
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  z-index: 100;
}
.dropdown-content .dropdown-option {
  height: 100%;
  padding: 0 16px;
  color: #34343b;
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 16px 32px;
  padding-right: 64px;
  border-top: 1px solid #e6e6e6;
}
.dropdown-content .dropdown-option:hover {
  background-color: whitesmoke;
  color: #206a5d;
}

.--show-content {
  display: block;
}

.shipment-card, .shipment-card--empty-placeholder, .shipment-card--expanded {
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 16px 8px;
  overflow-y: scroll;
  max-height: 10em;
}
.shipment-card:not(:last-child), .shipment-card--empty-placeholder:not(:last-child), .shipment-card--expanded:not(:last-child) {
  margin-bottom: 8px;
}

.shipment-card--expanded {
  max-height: unset;
}

.shipment-card--empty-placeholder {
  border: 2px dashed #ccc;
  background-color: transparent;
  text-align: center;
}

.shipment-card .title, .shipment-card--expanded .title, .shipment-card--empty-placeholder .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  background: lightblue;
}

.title a {
  color: blue;
  text-decoration: none;
}

.title a:visited {
  color: blue;
  text-decoration: none;
}

.heading, .data {
  display: inline;
}

.heading {
  font-weight: bold;
}

.button, .button--red-warning, .button--non-focus, .button--secondary, .button--primary {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 8px 16px;
  margin: 4px;
  font-size: 1em;
  border-radius: 4px;
  font-size: 1em;
  text-decoration: none;
}
.button:active, .button--red-warning:active, .button--non-focus:active, .button--secondary:active, .button--primary:active, .button :focus, .button--red-warning :focus, .button--non-focus :focus, .button--secondary :focus, .button--primary :focus {
  box-shadow: none;
}

.button--primary {
  background-color: #8ab914;
  color: white;
  border: 0;
}
.button--primary:hover, .button--primary :active, .button--primary :focus {
  background-color: #79a212;
}

.button--secondary {
  background-color: #206a5d;
  color: white;
  border: 0;
}
.button--secondary:hover {
  background-color: #267e6e;
}

.button--non-focus {
  background-color: #e7e7e7;
  color: #34343b;
  border: 1px solid #bfbfbf;
}
.button--non-focus:hover {
  background-color: #ebebeb;
}

.button--red-warning {
  background-color: red;
  color: white;
  border: 0;
}
.button--red-warning:hover, .button--red-warning:active, .button--red-warning:focus {
  background-color: #e60000;
}

.page-title {
  margin-bottom: 16px;
}

.autosuggestbox {
  position: absolute;
  background-color: white;
  border: 1px solid #d4d4d4;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.autosuggestbox p {
  padding: 8px;
  margin: 0;
  font-size: 0.8em;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}
.autosuggestbox p:hover, .autosuggestbox p:active {
  background-color: #8ab914;
  color: white;
}
.autosuggestbox--active {
  background-color: #8ab914;
  color: white;
}

.flash, .flash--toast, .flash--success, .flash--error {
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  padding: 8px;
  font-size: 0.9em;
  list-style: none;
  margin-bottom: 16px;
}

.flash--error {
  color: #db0303;
}

.flash--success {
  color: #039450;
}

.flash--toast {
  position: fixed;
  right: 0;
  margin: 8px;
  opacity: 100%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
@media only screen and (min-width: 440px) {
  .flash--toast {
    width: unset;
  }
}

.flash--toast--transparent {
  opacity: 0%;
}

.inputfield--text, #load_weight_unit {
  width: 100%;
  padding: 4px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  margin-bottom: 8px;
  margin-top: 4px;
}
.inputfield--text:active, #load_weight_unit:active, .inputfield--text:focus, #load_weight_unit:focus {
  box-shadow: 0 0 0 2px rgba(0, 225, 176, 0.15);
  border: 1px solid rgba(32, 106, 93, 0.5);
}

.inputfield__label {
  font-size: 0.9em;
}

.inputfield--select {
  font: 1rem "Open sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}

.form, .usersettings-form-container {
  width: 100%;
  padding: 16px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  margin: 0 auto;
  display: block;
}
@media only screen and (min-width: 440px) {
  .form, .usersettings-form-container {
    padding: 32px;
  }
}
@media only screen and (min-width: 760px) {
  .form, .usersettings-form-container {
    padding: 64px;
  }
}

.form__heading {
  margin-bottom: 16px;
}

.form__divider {
  color: #f1f1f1;
  margin-top: 16px;
  margin-bottom: 32px;
}

.form--login, .form--edit-shipment, .form--signup {
  padding-top: 16px;
  height: 100%;
  border-radius: 0;
}
@media only screen and (min-width: 440px) {
  .form--login, .form--edit-shipment, .form--signup {
    border-radius: 6px;
    height: unset;
    max-width: 450px;
    margin-top: 32px;
  }
}
@media only screen and (min-width: 760px) {
  .form--login, .form--edit-shipment, .form--signup {
    padding-top: 32px;
    margin-top: 64px;
    max-width: 450px;
  }
}
.form--login__button {
  width: 100%;
  margin: 0;
}

@media only screen and (min-width: 440px) {
  .form--signup {
    margin-top: 32px;
  }
}

.form--edit-shipment input[type=text], .form--edit-shipment select {
  float: right;
}

.container--logo {
  text-align: center;
}
.container--logo img {
  vertical-align: middle;
}
@media only screen and (min-width: 440px) {
  .container--logo {
    padding: 16px !important;
  }
  .container--logo h1 {
    font-size: 1.75em;
  }
  .container--logo img {
    max-width: 150px;
  }
  .container--logo .container--intro-text h2 {
    font-size: 1.25em;
  }
}

.container--intro-text {
  text-align: center;
}
.container--intro-text h2 {
  margin: 0 auto;
  max-width: 680px;
  color: #62626a;
}

.container--logo {
  margin-top: 60px;
}

.container--page-wide-image {
  max-width: 100%;
  overflow: hidden;
}
.container--page-wide-image img {
  display: block;
}
@media only screen and (min-width: 760px) {
  .container--page-wide-image img {
    height: 150px;
  }
}

.container--below-fold {
  background-color: white;
}

.container--ad-copy-text {
  margin: 0 auto;
  max-width: 980px;
  padding: 64px 16px;
}
.container--ad-copy-text h1 {
  text-align: center;
}
@media only screen and (min-width: 440px) {
  .container--ad-copy-text {
    padding: 64px 0;
  }
}

.container--media-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
@media only screen and (min-width: 440px) {
  .container--media-cards {
    flex-direction: column;
  }
}

.accent {
  background-color: #bfdcae;
  width: 100%;
  height: 64px;
}

.container--cta-buttons {
  text-align: center;
}
.container--cta-buttons .button--primary {
  display: inline-block;
  width: 250px;
  font-size: 1.25em;
}

.emission-total {
  font: bold;
  color: #6dc0d5;
  text-align: center;
  padding-bottom: 20px;
}

.container--playground {
  width: 80%;
  min-width: 500px;
  margin: 0 auto;
}

.col_1_of_2 {
  padding: 8px;
  display: flex;
  align-items: center;
}

.color-pallette div {
  height: 80px;
  width: 400px;
}
.color-pallette div:nth-child(2) {
  background-color: #8ab914;
}
.color-pallette div:nth-child(1) {
  background-color: #206a5d;
}
.color-pallette div:nth-child(3) {
  background-color: #bfdcae;
}
.color-pallette div:nth-child(4) {
  background-color: #ffffff;
}

.media-box-thingy {
  background-color: #ffffff;
  margin: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid #cfcfcf;
}
.media-box-thingy .content {
  margin: 8px;
  flex-grow: 10;
}
.media-box-thingy h3 {
  color: #206a5d;
}

.button-part {
  background-color: #f5f5f7;
  padding: 8px;
}
.button-part button {
  float: right;
  background-color: #8ab914;
}

.--accent-primary-left {
  border-top: 3px solid #bfdcae;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.spacing-example {
  width: 100%;
  border: 1px solid #797878;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
}

.--small {
  margin-bottom: 8px;
  padding: 8px;
}

.--default {
  margin-bottom: 16px;
  padding: 16px;
}

.--large {
  margin-bottom: 32px;
  padding: 32px;
}

.--x-large {
  margin-bottom: 64px;
  padding: 64px;
}

.mixin-ex-1 {
  width: 100%;
  border: 1px solid #797878;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  margin-bottom: 16px;
}

.mixin-ex-2 {
  width: 100%;
  border: 1px solid #797878;
  box-shadow: -1px 4px 6px 3px rgba(76, 0, 255, 0.2), 0 2px 12px 1px rgba(174, 0, 255, 0.1);
  border-radius: 3px;
}

.container--account-details {
  margin-bottom: 16px;
}

.shipment-title {
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  margin: 16px auto;
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
}
@media only screen and (min-width: 760px) {
  .shipment-title {
    font-size: 1em;
    border-bottom: unset;
    margin-bottom: unset;
  }
}

.shipment-expand {
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shipment-expand:hover {
  background-color: #e6e6e6;
}
@media only screen and (min-width: 760px) {
  .shipment-expand {
    width: 100%;
    position: inherit;
    padding-left: unset;
    padding-right: unset;
    justify-content: space-between;
    padding-left: 3px;
  }
  .shipment-expand:hover {
    background-color: white;
  }
}

.container--shipmentinfo {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 760px) {
  .container--shipmentinfo {
    padding-top: unset;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media only screen and (min-width: 760px) {
  .container-card-row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.containershipment, .container--fuel, .container--price, .container--tree, .container--distance, .container--emissions, .container-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: 1px solid #ddd;
}
.containershipment:nth-child(even), .container--fuel:nth-child(even), .container--price:nth-child(even), .container--tree:nth-child(even), .container--distance:nth-child(even), .container--emissions:nth-child(even), .container-data:nth-child(even) {
  background-color: #fbfbfb;
}
@media only screen and (min-width: 760px) {
  .containershipment, .container--fuel, .container--price, .container--tree, .container--distance, .container--emissions, .container-data {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-bottom: unset;
    border-bottom: unset;
    background-color: white;
    min-height: 300px;
    width: 30%;
    margin-top: 2.5%;
    margin-left: 2.5%;
    padding-left: 16px;
    padding-right: 16px;
    flex-wrap: wrap;
  }
  .containershipment:nth-child(even), .container--fuel:nth-child(even), .container--price:nth-child(even), .container--tree:nth-child(even), .container--distance:nth-child(even), .container--emissions:nth-child(even), .container-data:nth-child(even) {
    background-color: white;
  }
}
@media only screen and (min-width: 760px) {
  .containershipment .header, .container--fuel .header, .container--price .header, .container--tree .header, .container--distance .header, .container--emissions .header, .container-data .header {
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 760px) {
  .container-data {
    margin-left: 2.5%;
    width: 40%;
    padding-top: 24px;
  }
}

@media only screen and (min-width: 760px) {
  .container--emissions {
    flex-grow: 4;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.container--route-map {
  width: 100% !important;
  max-width: 100% !important;
}

.container--distance {
  width: 100%;
}
@media only screen and (min-width: 760px) {
  .container--distance {
    width: 46.25%;
    padding-bottom: 16px !important;
  }
}

@media only screen and (min-width: 760px) {
  .container--tree {
    flex-grow: 2;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 760px) {
  .container--price {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    flex-direction: row;
  }
}

@media only screen and (min-width: 760px) {
  .price-desktop {
    flex-direction: column;
  }
}

.btn-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#btn-back {
  background-color: #bfdcae;
  z-index: 999;
  left: 8px;
  top: calc(8px + 60px);
  display: block;
  position: fixed;
}

.buttons-modify {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  position: fixed;
  bottom: 68px;
  z-index: 999;
}
.buttons-modify .btn-modify {
  margin: 10%;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  background-color: #bfdcae;
  color: #ffffff;
  z-index: 999;
}
.buttons-modify .btn-edit {
  margin: 10%;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  background-color: #4484b1;
  color: #ffffff;
}
.buttons-modify .btn-delete {
  margin: 10%;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  background-color: #f2a9a7;
  color: #ffffff;
}

.buttons-desktop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#learn {
  margin-left: 35%;
}

.shipment-info-table {
  width: 100%;
}
.shipment-info-table .col-one {
  text-align: left;
}
.shipment-info-table .col-two {
  text-align: right;
}
.shipment-info-table tbody tr:nth-child(odd) {
  background-color: #fafafa;
}
.shipment-info-table tbody tr td {
  padding: 4px;
}

.shipment-row {
  display: none;
}
@media only screen and (min-width: 760px) {
  .shipment-row {
    display: table-row;
  }
}

.--show {
  display: table-row;
}

#table--pricing {
  width: 100%;
  border: none;
  border-spacing: 0px;
  margin-top: 24px;
}
#table--pricing .price:hover {
  background-color: #e6e6e6;
}
@media only screen and (min-width: 760px) {
  #table--pricing {
    width: 50%;
    margin-top: unset;
  }
}
#table--pricing tbody tr td {
  padding: 4px;
}

.price-desktop {
  width: 100%;
  align-items: center;
}
@media only screen and (min-width: 760px) {
  .price-desktop {
    width: 50%;
  }
}

#table--emissions {
  border: none;
  border-spacing: 0px;
  padding-top: 1%;
}
#table--emissions .gas:hover {
  background-color: #e6e6e6;
}
#table--emissions tbody tr td {
  padding: 4px;
}

.--selected {
  background-color: #e6e6e6;
}

table tbody tr td {
  font-size: 0.9em;
}

.about_us-title {
  margin-top: 32px;
  margin-bottom: 32px;
}

.about_us-description {
  margin-bottom: 24px;
}

.about_us--name {
  font-size: 1.1em;
  margin-bottom: 16px;
  margin-top: 16px;
}

.container--shipments-page {
  padding: 16px;
}

.add-shipment-icon-container {
  position: fixed;
  bottom: calc(60px + 16px);
  right: 16px;
}

@media only screen and (min-width: 760px) {
  .add-shipment-buttons-container {
    display: flex !important;
    justify-content: center;
  }
}

.modal--file-upload {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
}

.--modal-active {
  display: block !important;
  z-index: 1000;
}

.black-out-screen {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.form--shipment-upload {
  padding: 8px;
}

#button-cancel {
  cursor: default;
}

.container--location-map, .container--route-map {
  max-width: 100%;
  height: 250px;
  border: 1px solid #bbbbbb;
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin-top: 16px;
}
@media only screen and (min-width: 760px) {
  .container--location-map, .container--route-map {
    width: 50%;
    max-width: 50%;
    align-self: flex-end;
    order: 5;
  }
}

@media only screen and (min-width: 440px) {
  .form--add-shipments {
    border-radius: 6px;
    max-width: 860px;
    margin-top: 32px;
    padding-top: 32px;
  }
}
@media only screen and (min-width: 760px) {
  .form--add-shipments {
    border-top: 3px solid #8ab914;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

@media only screen and (min-width: 760px) {
  .form--double-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 500px;
  }
}

@media only screen and (min-width: 760px) {
  .container--location-inputs, .container--shipment-form-inputs {
    width: 48%;
  }
}

.container--volume {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.container--volume .volume__header {
  margin-bottom: 8px;
}

#mapid {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.container--input-weight-and-unit {
  display: flex;
  overflow-x: hidden;
}

#load_weight {
  min-width: 6em;
  flex-grow: 2;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#load_weight_unit {
  flex-grow: 1;
  max-width: 10em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.autosuggestbox {
  position: absolute;
  background-color: white;
  border: 1px solid #d4d4d4;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.autosuggestbox p {
  padding: 8px;
  margin: 0;
  font-size: 0.8em;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}
.autosuggestbox p:hover, .autosuggestbox p:active {
  background-color: #206a5d;
  color: white;
}
.autosuggestbox--active {
  background-color: #206a5d;
  color: white;
}

.input-pick-up, .input-drop-off {
  margin-bottom: 0;
}

.tools--container {
  max-width: 980px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.tools-title {
  text-align: center;
}

.tools-description {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 32px;
}

.tools--card {
  display: grid;
  grid-template-columns: 125px auto;
  grid-template-rows: 50px 75px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  margin-top: 24px;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.32);
}

.tools--card:hover {
  cursor: pointer;
}

.tool--name {
  grid-row: 1/2;
  grid-column: 2/3;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 16px;
  color: #206a5d;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tool--description {
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 8px 16px;
  background: #f5f5f7;
  font-size: 0.9rem;
}

.tool--image {
  grid-row: 1/3;
  grid-column: 1/2;
  max-width: 100%;
}

@media only screen and (max-width: 450px) {
  .tools--card {
    grid-template-columns: 100px auto;
    grid-template-rows: 50px 50px;
  }

  .tool--description {
    display: none;
  }

  .tool--name {
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
  }
}
@media only screen and (min-width: 750px) {
  .tools--card {
    grid-template-columns: 150px auto;
    grid-template-rows: 50px 100px;
    max-width: 600px;
  }
}
.compare--container {
  margin: 0 auto;
  margin-bottom: 16px;
  background-color: #fdfdfd;
  padding-bottom: 8px;
}

.non_data_container {
  padding: 16px;
}

@media only screen and (min-width: 440px) {
  .non_data_container {
    margin-top: 32px;
  }

  .compare--container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .comparative_visualisation {
    border-right: 2px solid #f5f5f7;
    border-left: 2px solid #f5f5f7;
  }

  .shipment_data {
    display: flex;
    border-right: 2px solid #f5f5f7;
    border-left: 2px solid #f5f5f7;
  }

  .shipment1, .shipment2 {
    border-left: 2px solid #f5f5f7;
    border-right: 2px solid #f5f5f7;
  }

  .search_container {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 760px) {
  .compare--container {
    margin-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    border-top: 3px solid #206a5d;
    max-width: 600px;
  }
}
.tool-header {
  display: flex;
  margin-bottom: 24px;
}

.back_arrow {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.back_arrow > path {
  fill: #206a5d;
}

.back_arrow:hover {
  cursor: pointer;
}

.tool_name {
  width: 100%;
  margin-left: 16px;
}

.tool_subtitle {
  margin-bottom: 16px;
}

.search_container {
  display: flex;
  align-items: stretch;
}

.field1, .field2 {
  flex-grow: 1;
}

.field1 {
  margin-right: 8px;
}

.field2 {
  margin-left: 8px;
}

.search_title {
  text-align: left;
}

#shipment1, #shipment2 {
  width: 100%;
}

.f_divider {
  color: #f1f1f1;
  margin-top: 16px;
}

.comparative_visualisation_container {
  padding-top: 16px;
  margin-bottom: 32px;
}

.comparative_visualisation {
  height: 205px;
  width: 100%;
  background: white;
  border-top: 2px solid #f5f5f7;
  border-bottom: 2px solid #f5f5f7;
}

.shipments_data_container {
  margin-top: 16px;
}

.data_heading {
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 8px;
}

.shipment_data {
  display: flex;
  border-top: 2px solid #f5f5f7;
  border-bottom: 2px solid #f5f5f7;
  font-size: 0.85rem;
  text-align: center;
}

.shipment_1_data, .shipment_2_data {
  min-height: 30px;
  width: 0;
  background-color: white;
  flex-grow: 1;
  padding: 0.5rem;
}

.shipment_1_data {
  border-right: 2px solid #206a5d;
}

.trees_container {
  margin-top: 64px;
}

.price_container, .fuel_container {
  margin-top: 32px;
}

.trees_container > .data, .price_container > .data, .fuel_container > .data {
  display: flex;
}

.shipment1 {
  border-right: 2px solid #206a5d;
}

.shipment1, .shipment2 {
  height: 100px;
  width: 100%;
  background-color: white;
  border-top: 2px solid #f5f5f7;
  border-bottom: 2px solid #f5f5f7;
}

.description {
  margin-top: 8px;
  text-align: center;
}

.fuel_container {
  margin-bottom: 64px;
}

.price_selection, .emission_selection {
  margin-left: 16px;
  margin-top: 8px;
}

.search_result {
  font-size: 0.8rem;
  border: 1px solid lightgray;
  padding: 0.5rem;
  position: relative;
}

.search_result:hover {
  background: #206a5d;
  color: white;
  cursor: pointer;
}

.hide {
  display: none;
}

.--hidden-on-mobile {
  display: none;
}
@media only screen and (min-width: 760px) {
  .--hidden-on-mobile {
    display: inherit;
  }
}

@media only screen and (min-width: 760px) {
  .--hidden-on-desktop {
    display: none;
  }
}

.--hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
