// ----------------------------------------------------------------
// The main stylesheet. This stylesheet should ideally only collate 
// all stylesheets and have no CSS code of it's own
// ----------------------------------------------------------------

@import 'abstracts/_mixins.scss'; // Mixins
@import 'abstracts/_variables.scss'; // Variables

// Import the normalisation file
@import 'base/_normalise.scss';

// Import each layout-object related stylesheet
@import 'layout/_base.scss'; // Stores rules for generic containers, as well as below-the-fold content
@import 'layout/_header.scss';
@import 'layout/_navbar.scss';
@import 'layout/_footer.scss';
@import 'layout/_dropdown.scss';

// Import all components
@import 'components/_buttons.scss'; // Buttons
@import 'components/autosuggestbox.scss';
@import 'components/flash-message';
@import 'components/inputfields';
@import 'components/forms';
// Import the rules for dashboard screens.
// @import 'screens/_mainscreen.scss';
// @import 'screens/planshipmentscreen';
// @import 'screens/_uploadscreen';
// @import 'screens/_datapagescreen';

// Import styles for specific pages
@import 'pages/homepage';
@import 'pages/playground';

// --------------------------------------------------------
// Utility classes. Classes that have only 1 responsibility
// This can probably be moved to another file, but can stay
// here for now.
// --------------------------------------------------------


// Use this to hide elements on smaller viewsizes. For example: The navbar when
// in mobile mode
.--hidden-on-mobile {
  display: none;

  @include breakpoint-screen-larger-than($breakpoint-tablet) {
    display: inherit;
  }
}

.--hidden-on-desktop {
  @include breakpoint-screen-larger-than($breakpoint-tablet) {
    display: none;
  }
}