* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

body {
  margin: 0 auto;
  height: 100vh;
  font: 1rem "Open sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #34343b;
  background-color: #f5f5f7;
}

input {
  font: 1rem "Open sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #3d3d42;
}

a {
  color: #518ee9;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.page-container {
  min-height: 100vh;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container, .container--shipments-page, .container--cta-buttons, .container--ad-copy-text, .container--intro-text, .container--logo, .container--text-content {
  max-width: 100%;
}
@media only screen and (min-width: 440px) {
  .container, .container--shipments-page, .container--cta-buttons, .container--ad-copy-text, .container--intro-text, .container--logo, .container--text-content {
    padding: 24px;
  }
}

.container--text-content {
  padding: 8px;
}
@media only screen and (min-width: 440px) {
  .container--text-content {
    padding: 16px;
  }
}

.--enforce-max-width {
  margin: 0 auto;
  max-width: 980px;
}

@media only screen and (min-width: 760px) {
  .--width-equal-to-content {
    width: max-content;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 100;
}

.logo-container {
  max-width: 140px;
  height: 100%;
}
@media only screen and (min-width: 440px) {
  .logo-container {
    max-width: 160px;
  }
}
@media only screen and (min-width: 760px) {
  .logo-container {
    max-width: 180px;
  }
}
.logo-container a {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
}

.app-logo {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.--fixed {
  position: fixed;
}

.navbar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
@media only screen and (min-width: 760px) {
  .navbar {
    position: unset;
    width: unset;
  }
}

.navbar__links {
  position: absolute;
  width: 100%;
  left: 0;
  top: 60px;
  flex-direction: column;
  height: auto;
  box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
  /** 
   * Include the breakpoint Mixin. Tablet and smaller CSS code goes between this code block
   * This part will have the code to display the navbar on hamburger menu click
   */
}
@media only screen and (min-width: 760px) {
  .navbar__links {
    /* The height, align-items: stretch and display flex is there to stretch the navigation 
     * links so that when the user hovers over a link, the background colour extends the height
     * of the navbar
     */
    position: static;
    flex-direction: row;
    box-shadow: none;
    width: 100%;
    height: 60px;
    align-items: stretch;
    display: flex;
    background-color: #ffffff;
  }
}

.navbar__link {
  background-color: white;
  width: 100%;
  list-style-type: none;
}
.navbar__link a {
  display: block;
  font-size: 1em;
  border-top: 1px solid #cccccc;
  padding: 8px;
  text-decoration: none;
  color: #34343b;
  white-space: nowrap;
}
.navbar__link a:hover {
  background-color: #f7f7f7;
  color: #206a5d;
  font-weight: 800;
}
@media only screen and (min-width: 440px) {
  .navbar__link a {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 760px) {
  .navbar__link a {
    font-size: 1em;
    border-bottom: 3px solid transparent;
    border-top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    color: #34343b;
    text-decoration: none;
  }
  .navbar__link a:hover {
    border-bottom: 3px solid #206a5d;
    font-weight: unset;
  }
}

.navbar__link--username a {
  font-size: 0.9em;
}

.button-hamburger {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 0;
  padding: 12px;
}
@media only screen and (min-width: 760px) {
  .button-hamburger {
    display: none;
  }
}
.button-hamburger--line {
  display: block;
  background-color: #34343b;
  min-height: 3px;
  width: 100%;
  margin-bottom: 4px;
}
.button-hamburger--line.--toggled-on:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}
.button-hamburger--line.--toggled-on:nth-child(3) {
  transform: rotate(135deg);
  position: relative;
  top: -7px;
}
.button-hamburger--line.--toggled-on:nth-child(2) {
  background-color: transparent;
}

.user-account-links {
  height: 100%;
}

.mobile-only-user-button {
  height: 100%;
  width: 60px;
  border: 0;
  padding: 8px;
  background-color: transparent;
}
@media only screen and (min-width: 760px) {
  .mobile-only-user-button {
    display: none;
  }
}

.footer {
  background-color: #8ab914;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
@media only screen and (min-width: 760px) {
  .footer {
    height: unset;
    padding: 8px;
    text-align: right;
    border-top: 1px solid #cccccc;
    box-shadow: 0 -2px 6px -1px rgba(0, 0, 0, 0.1), 0 0px 4px -1px rgba(0, 0, 0, 0.06);
    padding-right: 8px;
  }
}

.bottomnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  box-shadow: -1px -4px 6px 3px rgba(0, 0, 0, 0.06), 0 -2px 12px 1px rgba(0, 0, 0, 0.02);
  align-content: center;
}
.bottomnav .navButton {
  width: 33%;
  border: 0;
  font: 1rem "Open sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: transparent;
}
.bottomnav .navButton .navlink {
  height: 100%;
  font-size: 1.1em;
  color: #ffffff;
  text-decoration: none;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomnav .navButton .navlink:hover {
  background-color: #98cb16;
}
@media only screen and (min-width: 760px) {
  .bottomnav {
    display: none;
  }
}

.credit a {
  color: #34343b;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: -1px 4px 6px 3px rgba(0, 0, 0, 0.03), 0 2px 12px 1px rgba(0, 0, 0, 0.01);
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  z-index: 100;
}
.dropdown-content .dropdown-option {
  height: 100%;
  padding: 0 16px;
  color: #34343b;
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 16px 32px;
  padding-right: 64px;
  border-top: 1px solid #e6e6e6;
}
.dropdown-content .dropdown-option:hover {
  background-color: whitesmoke;
  color: #206a5d;
}

.--show-content {
  display: block;
}

.shipment-card, .shipment-card--empty-placeholder {
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 16px 8px;
}
.shipment-card:not(:last-child), .shipment-card--empty-placeholder:not(:last-child) {
  margin-bottom: 8px;
}

.shipment-card--empty-placeholder {
  border: 2px dashed #ccc;
  background-color: transparent;
  text-align: center;
}

.button, .button--red-warning, .button--non-focus, .button--secondary, .button--primary {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 8px 16px;
  margin: 4px;
  font-size: 1em;
  border-radius: 4px;
  font-size: 1em;
  text-decoration: none;
}
.button:active, .button--red-warning:active, .button--non-focus:active, .button--secondary:active, .button--primary:active, .button :focus, .button--red-warning :focus, .button--non-focus :focus, .button--secondary :focus, .button--primary :focus {
  box-shadow: none;
}

.button--primary {
  background-color: #8ab914;
  color: white;
  border: 0;
}
.button--primary:hover, .button--primary :active, .button--primary :focus {
  background-color: #79a212;
}

.button--secondary {
  background-color: #206a5d;
  color: white;
  border: 0;
}
.button--secondary:hover {
  background-color: #267e6e;
}

.button--non-focus {
  background-color: #e7e7e7;
  color: #34343b;
  border: 1px solid #bfbfbf;
}
.button--non-focus:hover {
  background-color: #ebebeb;
}

.button--red-warning {
  background-color: red;
  color: white;
  border: 0;
}
.button--red-warning:hover, .button--red-warning:active, .button--red-warning:focus {
  background-color: #e60000;
}

.page-title {
  margin-bottom: 16px;
}

.autosuggestbox {
  position: absolute;
  background-color: white;
  border: 1px solid #d4d4d4;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.autosuggestbox p {
  padding: 8px;
  margin: 0;
  font-size: 0.8em;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}
.autosuggestbox p:hover, .autosuggestbox p:active {
  background-color: #8ab914;
  color: white;
}
.autosuggestbox--active {
  background-color: #8ab914;
  color: white;
}

.flash, .flash--success, .flash--error {
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  padding: 8px;
  font-size: 0.9em;
  list-style: none;
  margin-bottom: 16px;
}

.flash--error {
  color: #db0303;
}

.flash--success {
  color: #039450;
}

.inputfield--text, #weightunit {
  width: 100%;
  padding: 4px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  margin-bottom: 8px;
  margin-top: 4px;
}
.inputfield--text:active, #weightunit:active, .inputfield--text:focus, #weightunit:focus {
  box-shadow: 0 0 0 2px rgba(0, 225, 176, 0.15);
  border: 1px solid rgba(32, 106, 93, 0.5);
}

.inputfield__label {
  font-size: 0.9em;
}

.inputfield--select {
  font: 1rem "Open sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}

.form, .usersettings-form-container {
  width: 100%;
  padding: 16px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  margin: 0 auto;
  display: block;
}
@media only screen and (min-width: 440px) {
  .form, .usersettings-form-container {
    padding: 32px;
  }
}
@media only screen and (min-width: 760px) {
  .form, .usersettings-form-container {
    padding: 64px;
  }
}

.form__heading {
  margin-bottom: 16px;
}

.form__divider {
  color: #f1f1f1;
  margin-top: 16px;
  margin-bottom: 32px;
}

.form--login, .form--signup {
  padding-top: 16px;
  height: 100%;
  border-radius: 0;
}
@media only screen and (min-width: 440px) {
  .form--login, .form--signup {
    border-radius: 6px;
    height: unset;
    max-width: 450px;
    margin-top: 32px;
  }
}
@media only screen and (min-width: 760px) {
  .form--login, .form--signup {
    padding-top: 32px;
    margin-top: 64px;
    max-width: 450px;
  }
}
.form--login__button {
  width: 100%;
  margin: 0;
}

@media only screen and (min-width: 440px) {
  .form--signup {
    margin-top: 32px;
  }
}

.container--logo {
  text-align: center;
}
.container--logo img {
  vertical-align: middle;
}
@media only screen and (min-width: 440px) {
  .container--logo {
    padding: 16px !important;
  }
  .container--logo h1 {
    font-size: 1.75em;
  }
  .container--logo img {
    max-width: 150px;
  }
  .container--logo .container--intro-text h2 {
    font-size: 1.25em;
  }
}

.container--intro-text {
  text-align: center;
}
.container--intro-text h2 {
  margin: 0 auto;
  max-width: 680px;
  color: #62626a;
}

.container--logo {
  margin-top: 60px;
}

.container--page-wide-image {
  max-width: 100%;
  overflow: hidden;
}
.container--page-wide-image img {
  display: block;
}
@media only screen and (min-width: 760px) {
  .container--page-wide-image img {
    height: 150px;
  }
}

.container--below-fold {
  background-color: white;
}

.container--ad-copy-text {
  margin: 0 auto;
  max-width: 980px;
  padding: 64px 16px;
}
.container--ad-copy-text h1 {
  text-align: center;
}
@media only screen and (min-width: 440px) {
  .container--ad-copy-text {
    padding: 64px 0;
  }
}

.container--media-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
@media only screen and (min-width: 440px) {
  .container--media-cards {
    flex-direction: column;
  }
}

.accent {
  background-color: #bfdcae;
  width: 100%;
  height: 64px;
}

.container--cta-buttons {
  text-align: center;
}
.container--cta-buttons .button--primary {
  display: inline-block;
  width: 250px;
  font-size: 1.25em;
}

.emission-total {
  font: bold;
  color: #6dc0d5;
  text-align: center;
  padding-bottom: 20px;
}

.container--playground {
  width: 80%;
  min-width: 500px;
  margin: 0 auto;
}

.col_1_of_2 {
  padding: 8px;
  display: flex;
  align-items: center;
}

.color-pallette div {
  height: 80px;
  width: 400px;
}
.color-pallette div:nth-child(2) {
  background-color: #8ab914;
}
.color-pallette div:nth-child(1) {
  background-color: #206a5d;
}
.color-pallette div:nth-child(3) {
  background-color: #bfdcae;
}
.color-pallette div:nth-child(4) {
  background-color: #ffffff;
}

.media-box-thingy {
  background-color: #ffffff;
  margin: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid #cfcfcf;
}
.media-box-thingy .content {
  margin: 8px;
  flex-grow: 10;
}
.media-box-thingy h3 {
  color: #206a5d;
}

.button-part {
  background-color: #f5f5f7;
  padding: 8px;
}
.button-part button {
  float: right;
  background-color: #8ab914;
}

.--accent-primary-left {
  border-top: 3px solid #bfdcae;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.spacing-example {
  width: 100%;
  border: 1px solid #797878;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
}

.--small {
  margin-bottom: 8px;
  padding: 8px;
}

.--default {
  margin-bottom: 16px;
  padding: 16px;
}

.--large {
  margin-bottom: 32px;
  padding: 32px;
}

.--x-large {
  margin-bottom: 64px;
  padding: 64px;
}

.mixin-ex-1 {
  width: 100%;
  border: 1px solid #797878;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  margin-bottom: 16px;
}

.mixin-ex-2 {
  width: 100%;
  border: 1px solid #797878;
  box-shadow: -1px 4px 6px 3px rgba(76, 0, 255, 0.2), 0 2px 12px 1px rgba(174, 0, 255, 0.1);
  border-radius: 3px;
}

.container--account-details {
  margin-bottom: 16px;
}

.container--shipments-page {
  padding: 16px;
}

.add-shipment-icon-container {
  position: fixed;
  bottom: calc(60px + 16px);
  right: 16px;
}

@media only screen and (min-width: 760px) {
  .add-shipment-buttons-container {
    display: flex !important;
    justify-content: center;
  }
}

.container--location-map {
  max-width: 100%;
  height: 250px;
  border: 1px solid #bbbbbb;
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin-top: 16px;
}
@media only screen and (min-width: 760px) {
  .container--location-map {
    width: 50%;
    max-width: 50%;
    align-self: flex-end;
    order: 5;
  }
}

@media only screen and (min-width: 440px) {
  .form--add-shipments {
    border-radius: 6px;
    max-width: 860px;
    margin-top: 32px;
    padding-top: 32px;
  }
}
@media only screen and (min-width: 760px) {
  .form--add-shipments {
    border-top: 3px solid #8ab914;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

@media only screen and (min-width: 760px) {
  .form--double-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 500px;
  }
}

@media only screen and (min-width: 760px) {
  .container--location-inputs, .container--shipment-form-inputs {
    width: 48%;
  }
}

#mapid {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.container--input-weight-and-unit {
  display: flex;
  overflow-x: hidden;
}

#cargoweight {
  min-width: 6em;
  flex-grow: 2;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#weightunit {
  flex-grow: 1;
  max-width: 10em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.autosuggestbox {
  position: absolute;
  background-color: white;
  border: 1px solid #d4d4d4;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.autosuggestbox p {
  padding: 8px;
  margin: 0;
  font-size: 0.8em;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}
.autosuggestbox p:hover, .autosuggestbox p:active {
  background-color: #206a5d;
  color: white;
}
.autosuggestbox--active {
  background-color: #206a5d;
  color: white;
}

.input-pick-up, .input-drop-off {
  margin-bottom: 0;
}

.--hidden-on-mobile {
  display: none;
}
@media only screen and (min-width: 760px) {
  .--hidden-on-mobile {
    display: inherit;
  }
}

@media only screen and (min-width: 760px) {
  .--hidden-on-desktop {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
