<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freight Carbon calculator</title>
  <link rel='stylesheet' href='static/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <meta charset="UTF-8">
</head>

<body>
  <div class="app-container">
    
    <header class="header">
      <h1 class="header--logo">Freight carbon calculator</h1>
      <nav>
        <button class="button-hamburger" onClick="dropdownMenu()">
          <span class="button-hamburger--line"></span>
          <span class="button-hamburger--line"></span>
          <span class="button-hamburger--line"></span>
        </button>
        <li class="navbar --hidden">
          <ul class="navbar--link"><a href="/">About</a></ul>
          <ul class="navbar--link"><a href="/">How to guide</a></ul>
          <ul class="navbar--link"><a href="/">More links here</a></ul>
        </li>
      </nav>
    </header>
    <div class="dashboard">
      <div class="dashboard--sidebar">
        <h4>Home</h4>
        <a id="sidebarlink-screen-main" onClick="goToScreen('screen-main')">Dashboard</a>
        <hr />
        <h4>Plan</h4>
        <a id="sidebarlink-screen-plan-shipment" role="button" onClick="goToScreen('screen-plan-shipment')">New shipment</a>
        <a id="sidebarlink-screen-upload-data" role="button" onClick="goToScreen('screen-upload-data')">Upload invoice data</a>
        <hr />
        <h4>Insights</h4>
        <a id="sidebarlink-screen-data-page" role="button">Your carbon footprint</a>
        <a>How to reduce emissions</a>
        <hr />
        <h4>Reports</h4>
        <a>Generate CSV file</a>
        <a>Generate PDF report</a>
      </div>

      <!-- Main Dashboard screen-->
      <div class="dashboard--page screen--main" id="screen-main">
        <h2 class="dashboard--page--title">Dashboard</h2>
        <div class="module--container module--user-intro">
          <div class="module--content">
            <img src="static/images/FreightPeopleLogo.png" width="180px" />
            <h2 class="module--title">Australian Freight Carbon calculator</h2>
            <p>Use this tool to calculate your emissions and discover the impact your shipment choices have on our environment.</p>
            <p>
              To get started, choose one of the options below. We will handle the rest.
            </p>
            <P></P>
            <p>
              There is also a guide for <a href="/">Getting started</a>
            </p>
          </div>
          <div class="module--bottom-buttons-container">
            <button class="button--primary" onClick="goToScreen('screen-upload-data')">Upload invoice data</button>
            <button class="button--primary" onClick="goToScreen('screen-plan-shipment')">Plan shipment</button>
          </div>
        </div>
      </div>

      <!-- File upload screen -->
      <div class="dashboard--page screen--file-upload --screen-inactive" id="screen-upload-data" >
        <h2 class="dashboard--page--title">Upload data</h2>
          <div class="module--container module--file-upload-intro">
            <div class="module--content">
              <h3 class="module--title">Upload a Shipping invoice</h3>
              <p>
                Upload a shipping invoice. The data it includes should be the starting location and destination and weight of cargo. 
              </p><p>
                The file type must be .xls or .csv
              </p>
              <!-- Use a label to wrap around the file input, as file inputs are hard to style corretly-->
              <label for="myFile" class="button--file-upload">
                <input type="file" accept=".csv, .xls" id="myFile" name="filename">
                Select file
              </label>
            </div>
            <div class="module--bottom-buttons-container">
              <button class="button--primary"
              onClick="changeScreen('screen-upload-data', 'screen-data-page')">Upload data</button>
            </div>
        </div>
      </div>

      <!-- plan shipment location screen -->
      <div class="dashboard--page screen-shipment-location --screen-inactive" id="screen-plan-shipment">
        <h2 class="dashboard--page--title">Plan shipment</h2>  
        <div class="module--container module--shipments">
          <div class="module--content">
            <h3 class="module--subtitle">Location details</h3>
            <div class="container--location">
              <div class="container--location-inputs">
                <label for="input-pick-up" class="label">Pick up location</label>
                <input type="text" class="input--text" id="input-pick-up" />
                <br />
                <label for="input-drop-off" class="label">Drop off location</label>
                <input type="text" class="input--text" id="input-drop-off" />
              </div>
              <div class="container--location-map">
                <img src="static/images/map.png" />
              </div>
            </div>
            <!-- Cargo section-->
            <h3 class="module--subtitle">Cargo details</h3>
            <div class="container--weight">
              <div class="container--weight-number-inputs">
                <label for="input-weight" class="label">How much will your shipment weigh?</label>
                <input type="number" class="input--number" id="input-weight" />
              </div>
              <div class="container--weight-presets">
                <h2 class="instruction-text">Or..</h2>
                <h3 class="instruction-text">Not sure of the exact weight? Select an option from below...</h2>
                <div class="media-card">
                  <div class="media-card--img">
                    <img src="static/images/truck-icon.png" />
                  </div>
                  <div class="media-card--text">
                    <p>Small</p>
                    <input type="radio" class="input--radio" id="input-weight-small" name="input-weight-preset"
                      value="small" />
                  </div>
                </div>
                <div class="media-card">
                  <div class="media-card--img">
                    <img src="static/images/truck-icon-medium.png" />
                  </div>
                  <div class="media-card--text">
                    <p>Medium</p>
                    <input type="radio" class="input--radio" id="input-weight-medium" name="input-weight-preset"
                      value="medium" />
                  </div>
                </div>
                <div class="media-card">
                  <div class="media-card--img">
                    <img src="static/images/truck-icon-large.png" />
                  </div>
                  <div class="media-card--text">
                    <p>Large</p>
                    <input type="radio" class="input--radio" id="input-weight-large" name="input-weight-preset"
                      value="large" />
                  </div>
                </div>
              </div>
              <div class="container--weight-fridge">
                <label for="input-refrigeration" class="label">Does your shipment require refrigeration?</label>
                <input type="checkbox" class="input--checkbox" id="input-refrigeration" />
              </div>
            </div>
          </div>
          <div class="module--bottom-buttons-container">
            <button class="button--primary" onClick="goToScreen('screen-data-page')">Get your results!</button>
          </div>
        </div>
      </div>
      
      <!-- data screen -->
      <div class="dashboard--page screen-data-display --screen-inactive" id="screen-data-page" >
        <h2 class="dashboard--page--title">Your carbon footprint</h2>
        
        <!-- row that contains both modules-->
        <div class="row--module-container">
          
          <!-- first module showing the pie chart-->
          <div class="module--container module--primary-data">
            <div class="module--content">
              <h3 class="module--title">Your Shipment Impact</h3>
              <div id="screen-data-page-charts" class="screen">
                <p>Total emissions identified from shipment:</p>
                <h2 class="emission-total">0.1618 tCO2e</h2>
                <p>Breakdown of total emissions:</p>
                <div class="d3charts--container">
                  <p id="d3charts"></p>
                </div>
              </div>
            </div>
          </div>
          <!-- first module showing the pie chart-->
          <div class="module--container module--generate-report">
            <div class="module--content">
              <h3 class="module--title">Emissions report</h3>
              <div class="container--datapage-text" id="datapage-text">
                <p>Your report for carbon emission calculation has been generated. You could download it from the link below.</p>
              </div>
              <div class="container--graph-icon">
                <img src="static/images/result-icon.png" />
              </div>
            </div>
            <div class="container--cta-buttons">
              <a href="static/resources/EmissionsReport.pdf" class="button--primary" download="static/resources/EmissionsReport.pdf" target="_blank">Download your report</a>
            </div>
          </div>
        </div>
      </div>

    <!-- No screen elements below this point -->
    </div>
    <footer class="footer">
      <p>Developed by <a href="about.html">Group name</a></p>
    </footer>
  </div>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="static/javascript/navbar.js"></script>
  <script src="static/javascript/screentransition.js"></script>
  <script src="static/javascript/d3chart.js"></script>
  <script src="static/javascript/autocomplete.js"></script>
</body>

</html>