<!DOCTYPE html>
<html>

<head>
  <title>Freight Carbon calculator</title>
  <link rel='stylesheet' href='static/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header class="header --fixed">
    <h1 class="header--logo">Freight carbon calculator</h1>
    <nav class="--align-right">
      <button class="button-hamburger" onClick="dropdownMenu()">
        <span class="button-hamburger--line"></span>
        <span class="button-hamburger--line"></span>
        <span class="button-hamburger--line"></span>
      </button>
      <li class="navbar --hidden">
        <ul class="navbar--link"><a href="/">About</a></ul>
        <ul class="navbar--link"><a href="/">How to guide</a></ul>
        <ul class="navbar--link"><a href="/">More links here</a></ul>
      </li>
    </nav>
  </header>
  <!--Logo-->
  <div class="container--logo">
    <h1 class=>Freight Carbon calculator</h1>
    <p>Powered by: <img src="static/images/FreightPeopleLogo.png" width="180px" /></p>
  </div>

  <!-- home screen -->
  <div id="screen-main" class="screen">
    <div class="container--intro-text">
      <h2>Discover how much emissions your shipments are producing. Get started with our app
      </h2>
    </div>
    <div class="container--cta-buttons">
      <a href="dashboard" class="button--primary">Get started</a>
    </div>
  </div>

  <!--Code below is not a part of the app container-->
  <div class="container--page-wide-image">
    <img src="static/images/TruckImage.png" />
  </div>
  <div class="accent"></div>

  <div class="container--below-fold">
    <div class="container--ad-copy-text">
      <h1>Reduce your carbon footprint</h1>
      <div class="container--media-cards">
        <div class="media-card">
          <div class="media-card--img">
            <img src="static/images/icon-pie-chart.png" />
            <!--<div></im>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
          </div>
          <div class="media-card--text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
        <div class="media-card">
          <div class="media-card--img">
            <img src="static/images/icon-pie-chart.png" />
          </div>
          <div class="media-card--text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
        <div class="media-card">
          <div class="media-card--img">
            <img src="static/images/icon-pie-chart.png" />
          </div>
          <div class="media-card--text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p>Developed by <a href="about.html">Group name</a></p>
  </footer>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="static/javascript/navbar.js"></script>
  <script src="static/javascript/screentransition.js"></script>
  <script src="static/javascript/d3chart.js"></script>
</body>

</html>