
body {
  // Add padding to the top to account for the fixed header
  padding-top: $header-height;
  // Add padding to the bottom to account for the footer
  padding-bottom: $header-height;
}

// The default rules for container type divs. All divs that represent a chunk of the layout should extend this
.container {
  max-width: 100%;
  padding: $spacing-medium;
}
