// The dashboard container. It contains the sidebar and the content content container.
// Used only to properly layout the app
.dashboard {
  // The rules below are used to make the dashboard take up the entire unoccupied space
  // Basically, the dashboard's height is set to be the browser's viewheight - header height - footer height
  display: flex;
  flex-grow: 1; 
  background-color: $color-background;
  // The rule below is used to allow the sidebar(a child of the dashboard div) to 
  // scroll vertically. Without this rule, the CSS rules in the sidebar regarding
  // scrolling don't work
  overflow: hidden; 
}

  // This container contains all the content or pages in the dashboard.  
  .dashboard--page {
    width: 100%;
    padding: $spacing-default;
  }
    .dashboard--page--title {
      margin-bottom: $spacing-default;
    }

    