// The header bar at the top

header {
  display: flex; // Use flex to allow both the navbar and logo to sit in the header bar
  justify-content: space-between; // Use this rule to pleace the logo left and navbar links to the right
  align-items: center; // Vertically align the logo so that it aligns with the nav links
  padding: 0 $spacing-small;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100%;
  background-color: $color-white;
  @include border-shadow-soft;
  z-index: 1000; // Make sure this is always at the top layer, don't allow other elements to cover it
}


  // The style-related rules below are for adjusting the logo's size depending on the viewport
  .logo-container {
    max-width: 140px;
    height: 100%;

    // Make the container larger, which would automatically expand the logo img
    @include breakpoint-screen-larger-than($breakpoint-mobile) {
      max-width: 160px;
    }

    @include breakpoint-screen-larger-than($breakpoint-tablet) {
      max-width: 180px;
    }
    
    // The logo image should be clickable, therefore its inside an <a> element.
    // This <a> element also needs to be styled to be 100% the height of its container.
    a {
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      line-height: $header-height;
    }
  }

  // Make the logo stretch to fit the container while keeping aspect ratio
  .app-logo {
    max-height:100%; max-width:100%;
    vertical-align: middle
  }



  // Use only when the header should always stick to the top, even when user scrolls down
  .--fixed {
    position: fixed;
  }

