// The header bar at the top

header {
  display: flex; // Use flex to allow both the navbar and logo to sit in the header bar
  justify-content: space-between; // Use this rule to pleace the logo left and navbar links to the right
  align-items: center; // Vertically align the logo so that it aligns with the nav links
  padding: 0 $spacing-small;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100%;
  background-color: $color-primary;
  @include border-shadow-soft;
  align-items: center;
}

  // The 'freight carbon calculator' logo. Only used for the dashboard version
  .header--logo {
    color: $color-font-white;
    font-size: 1.5em;
    font-weight: 500;
  }

  // Use only when the header should always stick to the top, even when user scrolls down
  .--fixed {
    position: fixed;
  }