{% extends "base.html" %}

{% block content %}

<div class="tools--container">
    <h1 class="tools-title">Tools</h1>
    <div class="tools-description">Learn more about the impact of your shipments with our interactive suite of tools</div>
    
    <div class="tools--card" onclick="redirect('compare')">
        <img src="{{ url_for('static', filename='images/Compare.png') }}" class="tool--image"></img>
        <h3 class="tool--name">Compare Shipments</h3>
        <div class="tool--description">Compare and analyse two of your shipments.</div>
    </div>
    
</div>

<script src="{{ url_for('tools.static', filename='javascript/_toolspage.js') }}"></script>


{% endblock %}