{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
{% endblock %}

{% block content %}
<form class="form form--add-shipments --enforce-max-width" action="" method="POST" novalidate>
    <h1 class="form__heading">Create New Shipment</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flash--error>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="form--double-column">
        {{ form.hidden_tag() }}
        <div class="container--location-inputs">
            <label class="inputfield__label" for="start_address">Start location</label><br />
            {{ form.start_address(class_="inputfield--text input-pick-up", autofocus=true, autocomplete="off", placeholder="Postcode, region name, or street address") }}

            <label class="inputfield__label" for="end_address">Destination</label><br />
            {{ form.end_address(class_="inputfield--text input-drop-off", autocomplete="off", placeholder="Postcode, region name, or street address") }}
        </div>
        <div class="container--location-map">
            <div id="mapid"></div>
        </div>
        <div class="container--shipment-form-inputs">
            {{ form.load_weight.label(class_="inputfield__label") }}
            <div class="container--input-weight-and-unit">
                <!-- Make sure the input field can't have negative values -->
                <input id="load_weight" class="inputfield--text" onkeyup=enforceMinMaxNumber(this) name="load_weight" required="" type="number" min="0" value="">
                {{ form.load_weight_unit(class_="inputfield--select") }}
            </div>
            <p>
                <label class="inputfield__label" for="shipmentname">Shipment Description</label>
                {{ form.shipment_name(class_="inputfield--text") }}
            </p>
        </div>
    </div>
    <input class="button--secondary" id="submit" name="submit" type="submit" value="Add Shipment">
</form>
<script src="/static/javascript/autocomplete.js"></script>
<script src="/static/leaflet/leaflet.js"></script>
<!-- interactivemap.js must be called after leaflet.js -->
<script src="/static/javascript/interactivemap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/javascript/inputfields.js"></script>

{% endblock %}