{% extends "base.html" %}


{% block content %}
<form class="form form--edit-shipment --enforce-max-width" action="" method="POST" novalidate>
    
    <div class="tool-header">
    <a href="/shipments/{{ shipment.shipment_id }}">
        <svg class="back_arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path data-name="layer1" fill="#202020" d="M28.001 48L12 32l16.001-16 4.242 4.243-8.759 8.758H52v6H23.486l8.757 8.757L28.001 48z"></path>
        </svg>
    </a>
    <h2 class="form__heading--edit-shipment">Edit Shipment Form</h2>
    </div>
    <h3>{{ shipment.shipment_id }}</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flash--error>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {{ form.hidden_tag() }}
        
    <p>
        {{ form.shipment_name.label(class_="inputfield__label") }}
        {{ form.shipment_name(class_="inputfield--text", autofocus=true) }}
    </p>
    <p>
        {{ form.start_address.label(class_="inputfield__label") }}
        {{ form.start_address(class_="inputfield--text") }}
    </p>
    <p>
        {{ form.end_address.label(class_="inputfield__label") }}
        {{ form.end_address(class_="inputfield--text") }}
    </p>
    
    {{ form.load_weight.label(class_="inputfield__label") }}
    <div class="container--input-weight-and-unit">
        {{ form.load_weight(class_="inputfield--text") }}
        {{ form.load_weight_unit(class_="inputfield--select") }}
    </div>
    <p>
        <label class="inputfield__label" for="load_volume">Volume of cargo</label>
        {{ form.load_volume(class_="inputfield--text", placeholder="Volume in cubic metres") }}
    </p>
    <p>
        {{ form.submit(class="button--primary") }}
    </p>
</form>


{% endblock %}