{% extends "base.html" %}
{% block content %}
<h1>Create new Shipment</h1>
<form action="{{url_for('shipment.C_shipment')}}" method="POST" novalidate>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flash-error>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {{ form.hidden_tag() }}
    <p>
        {{ form.shipmentname.label }} <br />
        {{ form.shipmentname(size=32) }}
    </p>
    <p>
        {{ form.pickuploc.label }} <br />
        {{ form.pickuploc(size=32) }}
    </p>
    <p>
        {{ form.dropoffloc.label }} <br />
        {{ form.dropoffloc(size=32) }}
    </p>
    <p>
        {{ form.cargoweight.label }} <br />
        {{ form.cargoweight(size=32) }}
    </p>
    <p>
        {{ form.weightunit.label }} <br />
        {{ form.weightunit }}
    </p>
    
    
    
    <p>{{ form.submit() }}</p>
    
</form>
{% endblock %}