{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
{% endblock %}

{% block content %}
<form class="form form--add-shipments --enforce-max-width" action="{{url_for('shipment.C_shipment')}}" method="POST" novalidate>
    <h1 class="form__heading">Create new Shipment</h1>
    <div class="form--double-column">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flash-error>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {{ form.hidden_tag() }}
        <div class="container--location-inputs">
            {{ form.pickuploc.label(class_="inputfield__label") }} <br />
            {{ form.pickuploc(class_="inputfield--text input-pick-up", autofocus=true, autocomplete="off") }}

            {{ form.dropoffloc.label(class_="inputfield__label") }} <br />
            {{ form.dropoffloc(class_="inputfield--text input-drop-off", autocomplete="off") }}
        </div>
        <div class="container--location-map">
            <div id="mapid"></div>
        </div>
        <div class="container--shipment-form-inputs">
            {{ form.cargoweight.label(class_="inputfield__label") }}
            <div class="container--input-weight-and-unit">
                <!-- Make sure the input field can't have negative values -->
                <input class="inputfield--text" id="cargoweight" onkeyup=enforceMinMaxNumber(this) name="cargoweight" required="" type="number" min="0" value="">
                {{ form.weightunit(class_="inputfield--select") }}
            </div>
            <p>
                <label class="inputfield__label" for="shipmentname">Shipment Description (Optional)</label>
                {{ form.shipmentname(class_="inputfield--text") }}
            </p>
        </div>
    </div>
    <input class="button--secondary" id="submit" name="submit" type="submit" value="Add Shipment">
</form>
<script src="/static/javascript/autocomplete.js"></script>
<script src="/static/leaflet/leaflet.js"></script>
<!-- interactivemap.js must be called after leaflet.js -->
<script src="/static/javascript/interactivemap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/javascript/inputfields.js"></script>

{% endblock %}