.about_us-title {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}

.about_us-description {
  margin-bottom: $spacing-medium;
}

.about_us--name {
  font-size: 1.1em;
  margin-bottom: $spacing-default;
  margin-top: $spacing-default;
}