// All reusable button styles should go in this file

// The generic style for all buttons in the app
.button {  
  @include border-shadow-soft; // Use the mixin to create a soft shadow
  padding: $spacing-small $spacing-default;
  margin: $spacing-x-small;
  font-size: $font-default;
  border-radius: 8px;
  font-size: 1.25em;

  // When clicked, give the illusion of the button being 'pressed' by removing the shadow border
  &:active {
    box-shadow: none;
  }
}

  // The style that all attention-grabbing CTA buttons will take on
  .button--primary {
    @extend .button;
    background-color: $color-primary;
    color: white;
    border: 0;

    // Darken the button on hover as a means of providing visual feedback
    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

  // The style that all buttons of the secondary colour will take on
  .button--secondary {
    @extend .button;
    background-color: $color-secondary;
    color: white;
    border: 0;

    // Darken the button on hover as a means of providing visual feedback
    &:hover {
      background-color: darken($color-secondary, 10%);
    }
  }


  // The rule that will style buttons like 'cancel', 'back', etc. These shouldn't out.
  .button--wrong {
    @extend .button;
    background-color: white;
    color: $color-font-black;
    border: 1px solid darken(white, 15%);

    // Darken the button on hover as a means of providing visual feedback
    &:hover {
      background-color: darken(white, 8%);
    }
  }

  // The 2 buttons on the home screen prompting the user to start
  .button--start {
    // Make both buttons equal width to add symmetry
    width: 250px;
    max-width: 250px;
  }

  
// The back button used for the breadcrumbs.
.button--breadcrumb-back {

  height: 2em;
  width: 1.5em;

  // The lines that will make up the backwards arrow
  &--arrow {
    display: block;
    background-color: $color-primary;
    min-height: 3px;
    width: 1em;
    margin-bottom: 4px;
    
    // Make a backwards arrow shape. Should look like this: <
    &:nth-child(1) {
      transform: rotate(135deg);
        position: relative;
        top: 11px;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
        position: relative;
        top: 13px;
    }

    @include breakpoint($breakpoint-tablet) {
      background-color: white;
    }
  }
}


.button--file-upload{
  @extend .button;
  background-color: $color-primary;
  color: white;
  border: 0;

  // Darken the button on hover as a means of providing visual feedback
  &:hover {
    background-color: darken($color-primary, 10%);
  }
}