{% extends "base.html" %}
{% block content %}
<div class="container container--text-content --enforce-max-width --width-equal-to-content">
  <h1 class="page-title">Account information</h1>
  <div class="container--account-details">
    <p>Your email address: {{ data.email }}</p>
    {% if data.email_verified is true %}
      <p>Your email address has been <b>verified</b></p>
    {% else %}
      <p>Your email address needs to be <a href="/user/resend_verification">verified</a></p>
    {% endif %}
    <br />
    <p>Your username: {{ data.username }}</p>
    <br />
    <p>Date this account was created: {{ data.date_created }}</p>
    <br />
    {% if data.deactivated is true %}
      <p>Account status: Deactivated</p>
    {% else %}
      <p>Account status: Active</p>
    {% endif %}
  </div>
  <a class="button--primary" href="/user/edit">Account settings</a>
</div>

{% endblock %}