{% extends "base.html" %}
{% block content %}
<div class="container --enforce-max-width">
    <form class="form form--signup" action="" method="POST" novalidate>

        <h2 class="form__heading">Create a new account</h2>

        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label(class_="inputfield__label") }} <br />
            {{ form.username(class_="inputfield--text", autofocus=true) }}
        </p>
        <p>
            {{ form.email.label(class_="inputfield__label") }} <br>
            {{ form.email(class_="inputfield--text") }}
        </p>
        <p>
            {{ form.password.label(class_="inputfield__label") }} <br>
            {{ form.password(class_="inputfield--text") }}
        </p>
        <p>
            {{ form.password_confirm.label(class_="inputfield__label") }} <br>
            {{ form.password_confirm(class_="inputfield--text") }}
        </p>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flash--error>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <input class="form--login__button button--secondary" id="submit" name="submit" type="submit" value="create account">
        <!-- <input  id="submit" name="submit" type="submit" value="log in"> -->
    </form>
</div>
{% endblock %}