{% extends "base.html" %}
{% block content %}
<h1>Create a new account</h1>
<form action="" method="POST" novalidate>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flash--error>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }} <br />
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.email.label }} <br>
        {{ form.email(size=32) }}
    </p>
    <p>
        {{ form.password.label }} <br>
        {{ form.password(size=32) }}
    </p>
    <p>
        {{ form.password_confirm.label }} <br>
        {{ form.password_confirm(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}