{% extends "base.html" %}
{% block content %}
<div class="container --enforce-max-width --width-equal-to-content">
  <div class="usersettings-form-container">
    <h2 class="page-title">User settings</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flash>
        {% for category, message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="" method="POST" novalidate>
      <h3 class="form__heading">Change your user information</h3>
      {{ user_information_form.hidden_tag() }}
      <p>
          {{ user_information_form.username.label(class_="inputfield__label") }} <br>
          {{ user_information_form.username(class_="inputfield--text") }}
      </p>
      <p>
        <input class="button--secondary" id="update_settings" name="update_settings" type="submit" value="Update user settings">
      </p>
    </form>

    <hr class="form__divider" />

    <form action="" method="POST" novalidate>
      {{ change_password_form.hidden_tag() }}
      <h3 class="form__heading">Change password</h3>
      <p>
          {{ change_password_form.old_password.label(class_="inputfield__label") }} <br>
          {{ change_password_form.old_password(class_="inputfield--text") }}
      </p>
      <p>
          {{ change_password_form.new_password.label(class_="inputfield__label") }} <br>
          {{ change_password_form.new_password(class_="inputfield--text") }}
      </p>
      <p>
          {{ change_password_form.password_confirm.label(class_="inputfield__label") }} <br>
          {{ change_password_form.password_confirm(class_="inputfield--text") }}
      </p>
      <p>
        <input id="change_password" class="button--non-focus" name="change_password" type="submit" value="Update password">
      </p>
    </form>

    <hr class="form__divider" />

    <form action="" method="POST" novalidate>
      {{ activation_status_form.hidden_tag() }}

      {% if activation_status_form.deactivate_account is defined %}
        <h3 class="form__heading">Deactivate your account</h3>
        <p>You can reactivate your account in the future</p>
        <br />
        <input class="button--non-focus" id="deactivate_account" name="deactivate_account" type="submit" value="Deactivate account">
      {% else %}
        <h3 class="form__heading">Reactivate your account</h3>
        <p>You can deactivate your account in the future</p>
        <br />
        <input class="button--non-focus" id="activate_account" name="activate_account" type="submit" value="Reactivate account">
      {% endif %}
    </form>
    
    <hr class="form__divider" />

    <form action="" method="POST" novalidate>
      {{ delete_account_form.hidden_tag() }}
        <h3 class="form__heading">Delete your account</h3>
        <p>Note that all your data will be deleted and this action is irreversible.</p>
        <br />
        <p>
          <input class="button--red-warning" id="delete_account" name="delete_account" type="submit" value="Delete account">
        </p>
    </form>
  </div>
</div>
{% endblock %}