// Create a soft, nice looking border shadow. Use for buttons
@mixin border-shadow-soft {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .08),0 2px 4px -1px rgba(0, 0, 0, .06);
}

@mixin border-shadow-soft-wide {
  box-shadow: -1px 4px 6px 3px rgba(0, 0, 0, .03),0 2px 12px 1px rgba(0, 0, 0, .01);
}

@mixin border-shadow-purple-example {
  box-shadow: -1px 4px 6px 3px rgba(76, 0, 255, 0.2),0 2px 12px 1px rgba(174, 0, 255, 0.1);
}

// Include this mixin when writing styles specifically for a specific width.
// Basically replace what would usually be the media query with this
@mixin breakpoint-screen-larger-than($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}
