// This file will store ALL variables used in the app

$color-white: #ffffff;
$color-text-header: rgb(109, 192, 213);

$color-primary: #8ab914;
$color-secondary: #206a5d;
$color-tertiary: #bfdcae;
$color-background: #f5f5f7; //Soft grey background
$color-background-transparent: rgba(255, 255, 245, 0.9);

$color-font-black: #34343b; // Generally pure black text is too harsh. Therefore use a lighter shade for text
$color-font-black-header: #3d3d42;
$color-font-black-header-soft: lighten($color-font-black-header, 15%);
$color-font-white: #f7f6f4; // Generally pure white is very harsh as well. Therefore use a tad darker shade

$color-grey-border: darken(white, 20%);

$color-default-link: rgb(81, 142, 233);

$font-largest: 2.25em;
$font-large: 1.5em;
$font-default: 1em;

// Use these when spacing margins and paddings. Using uniform spacing options make the app look much better/cleaner
$spacing-x-small: 4px;
$spacing-small: 8px;
$spacing-default: 16px;
$spacing-medium: 24px;
$spacing-large: 32px;
$spacing-x-large: 64px;

// Breakpoints for media-queries. These define the allowable browser 
// max-width before the style changes to accomodate smaller screens
$breakpoint-mobile: 440px;
$breakpoint-tablet: 760px;

// Use these dimensions to enforce maximum widths, so that the web 
// app doesn't stretch out too much on wider monitors
$dimension-max-app-width: 980px;

// Layout related variables. Store dimensions as variables, to ensure that 
// other parts of the app don't break when something is resized
$header-height: 60px;