// This file will store ALL variables used in the app

// Colours
$color-primary: rgb(158, 0, 250);
$color-secondary: rgb(33, 212, 123);
$color-background: #f7fafc; // Soft bluish-white background

$color-font-black: #34343b; // Generally pure black text is too harsh. Therefore use a lighter shade for text
$color-font-black-header: #3d3d42;
$color-font-black-header-soft: lighten($color-font-black-header, 15%);

$color-grey-border: darken(white, 20%);

$font-largest: 2.25em;
$font-large: 1.5em;
$font-default: 1em;

// Use these when spacing margins and paddings. Using uniform spacing options make the app look much better/cleaner
$spacing-x-small: 4px;
$spacing-small: 8px;
$spacing-default: 16px;
$spacing-medium: 24px;
$spacing-large: 32px;
$spacing-x-large: 64px;

// Breakpoints for media-queries. These define the allowable browser 
// max-width before the style changes to accomodate smaller screens
$breakpoint-mobile: 440px;
$breakpoint-tablet: 600px;

// Use these dimensions to enforce maximum widths, so that the web 
// app doesn't stretch out too much on wider monitors
$dimension-max-app-width: 980px;

// Layout related variables. Store dimensions as variables, to ensure that 
// other parts of the app don't break when something is resized
$header-height: 50px;