<!--About page -->
<!--This page should display some supplementary information about what the site does-->
<!--It should prompt the user to log in or sign up-->

{% extends "base.html" %}

<!--Anything within this block will appear between <header> and <footer>-->
{% block content %}
  <div class="container--logo">
    <h1 class=>ABOUT US</h1>
    <p><img src="static/images/logo3.png" width="180px" /></p>
  </div>


  <!-- About us info section -->
  <div id="screen-main" class="screen">
    <div class="container--about_us">
      <div class="container--about_us_image">
      <img class="about_us_image" src="static/images/person_with_globe.jpg" alt="Globe With Tree">
      </div>
      <div class="container--about_us_info">
        <div class ="about_us_title">Who we are (Who)</div>
        <div class ="about_us_info">
          <h3>Lorem ipsum dolor sit amet, mea dico argumentum dissentias ut, id dico vituperata mel, putant diceret ne eos. Cu erat nulla ponderum his, sit alterum reformidans in. Ne molestie conceptam pro. Salutandi expetendis eu sed. Vide aliquip electram ad vix, quando scriptorem no quo, vix novum impedit no. Te nec primis antiopam ocurreret, ea temporibus adversarium per. <br> Est in diam singulis. Eam eirmod diceret placerat ad. Ne pro accusata assentior theophrastus, te usu porro albucius ponderum. Ad vel justo euismod legendos, ipsum munere expetendis ea vis.</h3>
        </div>
      </div>
      <div class="container--about_us_info"> 
        <div class ="about_us_title">What our Goals are (What/Why)</div>
        <div class ="about_us_info">
          <h3>Lorem ipsum dolor sit amet, mea dico argumentum dissentias ut, id dico vituperata mel, putant diceret ne eos. Cu erat nulla ponderum his, sit alterum reformidans in. Ne molestie conceptam pro. Salutandi expetendis eu sed. Vide aliquip electram ad vix, quando scriptorem no quo, vix novum impedit no. Te nec primis antiopam ocurreret, ea temporibus adversarium per. <br> Est in diam singulis. Eam eirmod diceret placerat ad. Ne pro accusata assentior theophrastus, te usu porro albucius ponderum. Ad vel justo euismod legendos, ipsum munere expetendis ea vis.</h3>
        </div>
      </div>
      <div class="container--about_us_info"> 
        <div class ="about_us_title">Our Proccess (How)</div>
        <div class ="about_us_info">
          <h3>Lorem ipsum dolor sit amet, mea dico argumentum dissentias ut, id dico vituperata mel, putant diceret ne eos. Cu erat nulla ponderum his, sit alterum reformidans in. Ne molestie conceptam pro. Salutandi expetendis eu sed. Vide aliquip electram ad vix, quando scriptorem no quo, vix novum impedit no. Te nec primis antiopam ocurreret, ea temporibus adversarium per. <br> Est in diam singulis. Eam eirmod diceret placerat ad. Ne pro accusata assentior theophrastus, te usu porro albucius ponderum. Ad vel justo euismod legendos, ipsum munere expetendis ea vis.</h3>
        </div>
      </div>
    </div>





  
{% endblock %}
