<!--About page -->
<!--This page should display some supplementary information about what the site does-->
<!--It should prompt the user to log in or sign up-->

{% extends "base.html" %}

<!--Anything within this block will appear between <header> and <footer>-->
{% block content %}

  <!-- About us info section -->
  <div class="about_us--container --enforce-max-width">
      <h1 class="about_us-title">About Us</h1>
      <div class="about_us-description">Learn more about what our app does and who we are</div>
      <div class="about_us--card">
        
        <div class= "about_us--description">
          <div class="about_us--name">Welcome to Cargo2</div>

        Cargo2 is a <b>free</b> and <b>online</b> educational tool created to provide Australian freight shippers and carriers with a simple easy-to-use tool that will estimate how much greenhouse gasses their shipments are producing.<br><br>

      
      We created Cargo2 with a <b>scalable</b> interface to be used by freight companies, moving substantial products across the country, wanting <b>comprehensible</b> information about each shipment’s harmful emissions and also giving individuals who are curious an educational opportunity to learn about how much environmental impact their online orders have.<br><br> 

      <div class="about_us--name">Shipments with Cargo2</div>
      Entering, saving and viewing shipments is easily achieved with our intuitive user interface design, and with file uploading, Cargo2 can cater for larger companies sending and receiving thousands of shipments. Simply <a href="/user/signup">create</a> or <a href="/user/login">login</a> with a <b>free</b> account and start today.<br><br>


      <div class="about_us--name">Comprehensive Shipments Reports</div>
      We understand that the data behind CO2 emissions can be difficult to read. That’s why Cargo2 has a user-friendly, clean dashboard design that makes <b>visualising</b> potential financial, and environmental harm easy. Our information is broken down to allow users to make <b>informed</b> decisions and understand their impact on our environment. <br><br>


      <div class="about_us--name">Comparing your Shipments</div>
      Comparing and having a reference point are important aids in fully understanding the environmental impact the shipments in our day to day lives have. With our <a href="/tools/compare">compare shipments tool</a>, we wanted users to be able to compare and see the differences each shipment has, giving them the tools and knowledge to understand the weight of their environmental impact and take another step closer to environmental healthier choices. <br><br>

      <div class="about_us--name">About the Developers</div>

      As young students studying at Swinburne University, we are concerned about the environmental impact we have on our world. Inspired by our client’s vision, we wanted to create a service that could bring awareness of the environment impact the freight industry has on our environment, that vision became Cargo2.<br><br> 

      <b>Marcus Valentino</b> (Developer)<br>
      <b>Saikiran Solanki</b> (Developer)<br>
      <b>Huseyin Burak Erozkan</b> (Developer)<br>
      <b>Jame Howell</b> (Developer)<br>
      <b>Peter Clark</b> (Developer)<br>
      <b>Fazal Husain</b> (Developer)<br>
      <b>Dr. Pei-Wei Tsai</b> (Client and lecturer at Swinburne University)<br>
      <b>Dr. Hadi Ghaderi</b> (Client and lecturer at Swinburne Universit)<br>
      <b>Mr. Marshall Hughes</b> (Industry partner from <a href="https://www.freightpeople.com.au/">Freight People</a>)<br>
      <b>Graham Farrell</b> (Team supervisor)<br>


      <br>

      In this crucial time, it is up to everyone to look after the world we live in and with Cargo2, we can begin understanding our own impact on the environment and use it to create a healthier, happier world to live in.</div>
    </div>
  </div>
    
    <!-- <div class="container--about_us">
      <div class="container--about_us_image">
      <img class="about_us_image" src="static/images/person_with_globe.jpg" alt="Globe With Tree">
      </div>
      <div class="container--about_us_info">
        <div class ="about_us_title">Who we are (Who)</div>
        <div class ="about_us_info">
          <h3>Lorem ipsum dolor sit amet, mea dico argumentum dissentias ut, id dico vituperata mel, putant diceret ne eos. Cu erat nulla ponderum his, sit alterum reformidans in. Ne molestie conceptam pro. Salutandi expetendis eu sed. Vide aliquip electram ad vix, quando scriptorem no quo, vix novum impedit no. Te nec primis antiopam ocurreret, ea temporibus adversarium per. <br> Est in diam singulis. Eam eirmod diceret placerat ad. Ne pro accusata assentior theophrastus, te usu porro albucius ponderum. Ad vel justo euismod legendos, ipsum munere expetendis ea vis.</h3>
        </div>
      </div>
      <div class="container--about_us_info"> 
        <div class ="about_us_title">What our Goals are (What/Why)</div>
        <div class ="about_us_info">
          <h3>Lorem ipsum dolor sit amet, mea dico argumentum dissentias ut, id dico vituperata mel, putant diceret ne eos. Cu erat nulla ponderum his, sit alterum reformidans in. Ne molestie conceptam pro. Salutandi expetendis eu sed. Vide aliquip electram ad vix, quando scriptorem no quo, vix novum impedit no. Te nec primis antiopam ocurreret, ea temporibus adversarium per. <br> Est in diam singulis. Eam eirmod diceret placerat ad. Ne pro accusata assentior theophrastus, te usu porro albucius ponderum. Ad vel justo euismod legendos, ipsum munere expetendis ea vis.</h3>
        </div>
      </div>
      <div class="container--about_us_info"> 
        <div class ="about_us_title">Our Proccess (How)</div>
        <div class ="about_us_info">
          <h3>Lorem ipsum dolor sit amet, mea dico argumentum dissentias ut, id dico vituperata mel, putant diceret ne eos. Cu erat nulla ponderum his, sit alterum reformidans in. Ne molestie conceptam pro. Salutandi expetendis eu sed. Vide aliquip electram ad vix, quando scriptorem no quo, vix novum impedit no. Te nec primis antiopam ocurreret, ea temporibus adversarium per. <br> Est in diam singulis. Eam eirmod diceret placerat ad. Ne pro accusata assentior theophrastus, te usu porro albucius ponderum. Ad vel justo euismod legendos, ipsum munere expetendis ea vis.</h3>
        </div>
      </div> -->
   





  
{% endblock %}
