<!--This file is extended by all subsequent html files, 
    it contains the template for the navigation header 
    and footer that will appear on all pages-->
<!--All extended pages will appear within <body> between <header> and <footer>-->

<!DOCTYPE html>
<html lang="en">
<!--Head Template-->
<head>
    {% if title %}
    <title>{{ title }} - Freight Carbon Calculator</title>
    {% else %}
    <title>Freight Carbon Calculator</title>
    {% endif %}
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- CSS stylesheet below is for Leaflet API -->
    <link rel="stylesheet" href='static/leaflet/leaflet.css' />
</head>

<!--Navigation Bar Template-->
<body>
    <header class="header --fixed">
        <h1 class="header--logo">Freight carbon calculator</h1>
        <nav class="--align-right">
            <button class="button-hamburger" onClick="dropdownMenu()">
                <span class="button-hamburger--line"></span>
                <span class="button-hamburger--line"></span>
                <span class="button-hamburger--line"></span>
            </button>
            <li class="navbar --hidden">
                <ul class="navbar--link"><a href="/">About</a></ul>
                <ul class="navbar--link"><a href="/">How to guide</a></ul>
                <ul class="navbar--link"><a href="/">More links here</a></ul>
                {% if current_user.is_authenticated %}
                    <ul class="navbar--link"><a href="/user/">Hi, {{ current_user.username }}</a></ul>
                    <ul class="navbar--link"><a href="/user/logout">Sign out</a></ul>
                    {% else %}
                    <ul class="navbar--link"><a href="/user/login">Sign in</a></ul>
                    <ul class="navbar--link"><a href="/user/signup">Create an account</a></ul>
                {% endif %}
            </li>
        </nav>
    </header>

    <!--Content added by inheriting files goes here-->
    {% block content %}{% endblock %}

    <!--Footer template -->
    <footer class="footer">
        <p>Developed by <a href="about.html">Group name</a></p>
    </footer>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/javascript/navbar.js"></script>
    <script src="static/javascript/screentransition.js"></script>
    <script src="static/javascript/d3chart.js"></script>
    <script src="static/javascript/autocomplete.js"></script>
    <script src="static/javascript/shipments.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- Axios API -->
    
</body>
</html>