<!--This file is extended by all subsequent html files, 
    it contains the template for the navigation header 
    and footer that will appear on all pages-->
<!--All extended pages will appear within <body> between <header> and <footer>-->

<!DOCTYPE html>
<html lang="en">
<!--Head Template-->

<head>
    {% if title %}
    <title>{{ title }} - Carbon Free Freight</title>
    {% else %}
    <title>Carbon Free Freight</title>
    {% endif %}
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- CSS stylesheet below is for Leaflet API -->
    <link rel="stylesheet" href='static/leaflet/leaflet.css' />
</head>

<!--Navigation Bar Template-->

<body>
    <header class="header --fixed">
        <button class="button-hamburger" onClick="hamburgerMenu()">
            <span class="button-hamburger--line"></span>
            <span class="button-hamburger--line"></span>
            <span class="button-hamburger--line"></span>
        </button>
        <div class="logo">
            <img src="static/images/Logo3.png" width="180px" />
        </div>
        <div class="navbar">
            <li class="navbar --hidden">
                <ul class="navbar--link"><a href="/about">About</a></ul>
                <ul class="navbar--link"><a href="/myShipments">Shipments</a></ul>
                <ul class="navbar--link"><a href="/tools">Tools</a></ul>
                <ul class="navbar--link"><a href="/help">Help</a></ul>
            </li>
        </div>
        <div class="dropdown">
            {% if current_user.is_authenticated %}
            <button class="dropbtn" onClick="dropdownMenu()">Hi, {{ current_user.username }}</button>
            <div class="dropdown-content" id="accountDropdown">
                <a class="dropdown-option" href="/user/">Account</a>
                <a class="dropdown-option" href="/user/logout">Sign Out</a>
            </div>
            {% else %}
            <button class="dropbtn" onClick="dropdownMenu()">Not Logged In</button>
            <div class="dropdown-content" id="accountDropdown">
                <a class="dropdown-option" href="/user/login">Log In</a>
                <a class="dropdown-option" href="/user/signup">Sign Up</a>
            </div>
            {% endif %}
        </div>
    </header>


    <!--Content added by inheriting files goes here-->
    {% block content %}{% endblock %}

    <!--Footer template -->
    <footer class="footer">
        <div class="bottomnav">
            <button class="navButton"><a class="navlink" href="/myShipments">Shipments</a></button>
            <button class="navButton"><a class="navlink" href="/tools">Tools</a></button>
            <button class="navButton"><a class="navlink" href="/help">Help</a></button>
        </div>
        <p class="credit">Developed by <a href="about.html">Group name</a></p>
    </footer>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/javascript/navbar.js"></script>
    <script src="static/javascript/screentransition.js"></script>
    <script src="static/javascript/d3chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- Axios API -->
</body>


</html>