<!--About page -->
<!--This page should display some supplementary information about what the site does-->
<!--It should prompt the user to log in or sign up-->

{% extends "base.html" %}

<!--Anything within this block will appear between <header> and <footer>-->
{% block content %}
  <div class="container--logo">
    <h1>Australian Freight Carbon Calculator</h1>
    <p>Powered by: <img src="static/images/FreightPeopleLogo.png" width="180px" /></p>
  </div>

  <!-- home screen -->
  <div id="screen-main" class="screen">
    <div class="container--intro-text">
      <h2>Discover how much emissions your shipments are producing. Get started with our app
      </h2>
    </div>
    <div class="container--cta-buttons">
      <a href="/user/signup" class="button--primary">Sign up with us</a>
      <a href="/user/login" class="button--primary">Login</a>
    </div>
  </div>
  
{% endblock %}
