<!--Tools Page-->
<!--Similar to shipment page this should show a list of tools and allow them to be selected-->

{% extends "base.html" %}

<!--Anything within this block will appear between <header> and <footer>-->
{% block content %}
  <div class="container--logo">
    <h1 class=>TOOLS PAGE</h1>
    <p>Powered by: <img src="static/images/FreightPeopleLogo.png" width="180px" /></p>
  </div>

  <!-- home screen -->
  <div id="screen-main" class="screen">
    <div class="container--intro-text">
      <h2>Discover how much emissions your shipments are producing. Get started with our app
      </h2>
    </div>
    <div class="container--cta-buttons">
      <a href="" class="button--primary">Login</a>   <!--These buttons dont do anything yet-->
      <a href="" class="button--primary">Signup</a>
    </div>
  </div>

  <!-- scripts specifically for this page only -->
{% endblock %}