{% extends "base.html" %}
{% block content %}
<h1>Upload New Shipments</h1>
<form action="{{url_for('shipment.CR_shipments')}}" method="POST" novalidate enctype="multipart/form-data">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flash-error>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="module--container module--file-upload-intro">
        <div class="module--container module--file-upload-intro">
        <div class="module--content">
          <h3 class="module--title">Upload a Shipping invoice</h3>
          <p>
            Upload a shipping invoice. The data it includes should be the starting location and destination and weight
            of cargo.
          </p>
          <p>
            The file type must be .xls or .csv
          </p>
          <form method="post" action="/uploadshipments">
                <!--<label for="myFile" class="button--file-upload">-->
            <input type="file" accept=".csv, .xls, .xlsx" name="filename">   
                {{ form.hidden_tag() }}
                {{ form.file }}   
          <!--</label>-->
          <!--<div class="module--bottom-buttons-container">-->
            <input type = "Submit" value="Upload File" ></input>
          <!--</div>-->
        </form>
        </div>
        </div>
      </div>
  
</form>
{% endblock %}